@mixin font-face($font-family) {
    @font-face {
        font-family: $font-family;
        src: url('../fonts/#{$font-family}.eot');
        src: url('../fonts/#{$font-family}.eot?#iefix') format('embedded-opentype'),
            url('../fonts/#{$font-family}.woff') format('woff'),
            url('../fonts/#{$font-family}.ttf') format('truetype'),
            url('../fonts/#{$font-family}.svg##{$font-family}') format('svg');
        font-weight: normal;
        font-style: normal;
    }
        // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog../font-face-chrome-rendering/
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: $font-family;
            src: url('../fonts/#{$font-family}.svg##{$font-family}') format('svg');
        }
    }
}