@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
@mixin transform($arg) {
	-webkit-transform: $arg;
	-moz-transform: $arg;
	-ms-transform: $arg;
	-o-transform: $arg;
	transform: $arg;
}
@mixin border-radius($arg...) {
	-webkit-border-radius: $arg;
	-moz-border-radius: $arg;
	-ms-border-radius: $arg;
	-o-border-radius: $arg;
	border-radius: $arg;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin text-shadow($args...) {
	-webkit-text-shadow: $args;
	-moz-text-shadow: $args;
	-ms-text-shadow: $args;
	-o-text-shadow: $args;
	text-shadow: $args;
}

