@import "_variables";
@import "_wordpress";
@import "_bootstrap";
@import "_mixins";
@import "_fonts";


@import "fontello.css";


@include font-face(fontello);
@include font-face(marine_bold);
@include font-face(marine_regular);
@include font-face(marine_regularitalic);
@include font-face(marine_lightitalic);
@include font-face(marine_blackitalic);
@include font-face(marine_bolditalic);


body{
    overflow-x: hidden;
    color: $font_primary_color;
}
#wrap{
    position: relative;
    top: 0;
    float: left;
    width: 100%;
    overflow:hidden;
}
h1, h2, h3, h4{
    font-family: $font_negrito;
}
h1, .h1{
    font-size: 50px;
}
h2, .h2{
    font-size: 45px;
    margin-bottom: 20px;
}
h3, .h3{
    font-size: 33px;
}
ul, ol{
    padding:0;
}
a, span, li, p{
    font-family: $font_regular;
    color: $font_primary_color;
}
strong, b{
    font-family: $font_negrito;
}
a,
input,
textarea,
button{
    @include transition(all .3s ease-in-out);
}
input:focus,
textarea:focus,
button:focus{
    outline: none;
}
a{
    color: $font_primary_color;
    cursor:pointer;
    &:hover,
    &:focus,
    &:active{
        outline: none;
        text-decoration: none;
    }
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p{
    font-size: 15px;
    margin-bottom: 20px;
}
small, .small{
    font-size: 100%;
}
.my-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.centering{
    float: none;
    margin:0 auto;
}
svg{
    width: 70px;
    fill:none;
    stroke:#686868;
    stroke-miterlimit:10;
    .mei,
    .ext,
    .int{
        path{
            stroke-width:3;
        }
    }
    .desen{
        transition:all .33s ease;
    }
    .mei{
        transform-origin: center;
        transition:all 1.3s ease;
    }
    .ext{
        transform-origin: center;
        transition:all 1.3s ease;
    }
}
a,
.link_icon{
    @include transition(all .33s ease);
    &:hover{
        .mei{
            @include transform(rotate(-360deg));
        }
        .ext{
            @include transform(rotate(360deg));
        }
        .desen{
            stroke-width: 3px;
            stroke: rgba(183, 183, 79, 0.68);
        }
    }
}

.botao-circle{
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    a,
    button,
    input{
        position: relative;
        svg{
            @include transition(all .33s ease);
            position: absolute;
            width: 70px;
            fill:none;
            stroke:#78b8f1;
            stroke-miterlimit:10;
            cursor:pointer;
            &:hover{
                .mei{
                    @include transform(rotate(-360deg));
                }
                .ext{
                    @include transform(rotate(360deg));
                }
            }
            .mei,
            .ext,
            .int{
                path{
                    stroke-width:3;
                }
            }
            .mei{
                transform-origin: center;
                transition:all 1.3s ease;
            }
            .ext{
                transform-origin: center;
                transition:all 1.3s ease;
            }
            .int{
                transform-origin: center;
                transition:all 1.3s ease;
            }
        }
        .box-svg-label{
            color:#545454;
            display: inline-block;
            padding: 25px;
            position: relative;
            svg{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            .label{
                border-radius: 50%;
                box-shadow: 0 0 9px rgba(0, 0, 0, 0.63);
                display: inline-block;
                font-family: $font_negrito;
                padding: 15px;
                background-color:#fff;
                @include transition(all .7s ease);
            }  
        }
        &:hover{
            svg{
                stroke:#144b7b;
            }
            .box-svg-label .label{
                background-color:#78b8f1;
                color:#fff;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0);
            }
        }
    }
}
.botao {
    width: 100%;
    float: left;
    margin-top: 15px;
    text-align: center;
    
    a,
    button,
    input{
        padding: 10px 15px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        color: #fff;
        border:1px solid #fff;
        border-radius:5px;
        z-index: 2;
        *{
            @include transition(all 1s ease);
        }
        &:before{
            content:'';
            position: absolute;
            width: 100%;
            height: 20px;
            top:90%;
            left: -100%;
            z-index: 2;
            @include transition(all .7s ease);
            background-color: $primary_color;
            box-shadow: 0 0 1px #fff;
        }
        &:hover{
            &:before{
                left: 0;
            }
            &:after{
                right: 0;
            }
        }
        span{
            font-size: 17px;
            font-family: $font_button;
            position: relative;
            display: inline-block;
            z-index: 3;
            color: #fff;
        }
    }
}

#header-sroll.small{
    box-shadow: 2px 2px 5px #000;
}
#header-sroll{
    width: 100%;
    float: left;
    position: fixed;
    z-index: 20;
    .header{
        position: relative;
        width: 100%;
        float: left;
        &:before{
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            left: -100vw;
            background-color:#fff;
            @include transition(all .35s ease);
        }
        .desk-menu{
            width: 100%;
            float: left;
            .logo {
                float: left;
                width: 240px;
                margin-top: 30px;
                h1 {
                    margin-top: 10px;
                    .siteLogo {
                        background: url(../img/logo.svg) no-repeat;
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                        height: 60px;
                        color: transparent;
                        position: relative;
                    }
                }
                span {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    display: table;
                    font-size: 36px;
                    .siteLogo {
                        background: url(../img/logo.svg) no-repeat;
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                        height: 60px;
                        color: transparent;
                        position: relative;
                    }
                }

            }
            .tel-header{
                width: 100%;
                float: right;
                text-align: right;
                margin-top: 20px;
                margin-right: 20px;
                span{
                    font-family: $font_negrito;
                    font-size: 20px;
                }
            }
        }
    }
}
.box-menu{
    display: inline-block;
    float:right;
    margin-top: 20px;
    text-align: center;
    ul{
        padding:0;
        margin:28px 0 0;
        @include transition(all 1s ease);
        li{
            display: inline-block;
            width: 110px;
            svg{
                width: 70px;
                fill:none;
                stroke:#fff;
                stroke-miterlimit:10;
                .desen{
                    fill:#fff;
                }
                .mei,
                .ext,
                .int{
                    path{
                        stroke-width:3;
                    }
                }
                .desen{
                    transition:all .33s ease;
                }
                .mei{
                    transform-origin: center;
                    transition:all 1.3s ease;
                }
                .ext{
                    transform-origin: center;
                    transition:all 1.3s ease;
                }
            }
            a,
            .link_icon{
                @include transition(all .33s ease);
                &:hover{
                    color:#fff;
                    .mei{
                        @include transform(rotate(-360deg));
                    }
                    .ext{
                        @include transform(rotate(360deg));
                    }
                    .desen{
                        stroke-width: 3px;
                        stroke: rgba(183, 183, 79, 0.68);
                    }
                }
                span{
                    font-family: 'marine_bolditalic';
                }
            }
        }
        li.login{
            a{
                padding:10px 20px;
                border:2px solid #fff;
                border-radius:5px;
                font-family: $font_negrito;
                text-transform: uppercase;
                &:hover{
                    border-color:#811e22;
                    background-color:#811e22;
                    color:#fff;
                }
            }
        }
    }
}
#header-sroll .header .desk-menu .box-menu ul li.atend{
    background-color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
    a{
        display: inline-block;
        padding: 5px 0;
        text-align: center;
        font-family: $font_negrito;
        pointer-events:none;
    }
    &:hover{
        pointer-events: none;
    }
    .label-atend{
        color:#333;
        font-size: 10px;
    }
    .tel{
        color:#333;
        font-size: 13px;
    }
    
}
.small#header-sroll{
    
    .header{
        &:before{
            top:0;
            left: 0;
            visibility: visible;
        }
        .desk-menu{
            .logo {
                margin-top: 10px;
                h1, span {
                    .siteLogo {
                        background: url(../img/logo-colorida.svg) no-repeat;
                        height: 40px;
                    }
                }
            }
        }
        .tel-header{
            display: inline-block;
            width: auto;
            margin-top: 30px;
            span{
                color:#2a6cb1;
                font-size: 17px;
            }
        }
        .box-menu{
            margin-top: 0px;
            ul{
                margin:10px 0;
                li{
                    svg{
                        width: 60px;
                        stroke:#2a6cb1;
                        .desen{
                            fill:#2a6cb1;
                        }
                        .desen{
                            transition:all .33s ease;
                        }
                        .mei{
                            transform-origin: center;
                            transition:all 1.3s ease;
                        }
                        .ext{
                            transform-origin: center;
                            transition:all 1.3s ease;
                        }
                    }
                    span{
                        display: none;
                    }
                    a{
                        padding:23px 10px;
                        color:#811e22;
                        &:hover{
                            color:#fff;
                        }
                    }
                }
                li.login{
                    a{
                        border-color:#811e22;
                        span{
                            background-color: #fff;
                            color:#333;

                            display: block;
                        }
                    }
                }
            }
        }
    }
}


/* OUTRAS PARTES COMUNS */
/* Título comum */
.head-title{
    float: left;
    width: 100%;
    padding-bottom: 20px;
    background-size: cover;
    background-position: 50%;
    .page-name{
        float: left;
        width: 100%;
    }
    .page-name{
        padding-top: 125px;
        h1{
            text-transform: uppercase;
            font-size: 44px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.58);
        }
    }
}
#breadcrumbs{
    a, span{
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-family:  'mohave_italics';
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.58);
    }
    a:hover{
        color: #8cb661;
    }
}

@keyframes scale {
    0%   {transform: scale(1);}
    50%  {transform: scale(1.3);}
    100% {transform: scale(1);}
}
/* FOOTER */
.footer{
    position: relative;
    float: left;
    width: 100%;
    padding:40px 0 0;
    span,
    div,
    li,
    a{
        color: #686868;
    }
    .logo-rodape img{
        margin-top:15px;
    }
    .segundo-menu{
        border-left: 1px solid #686868;
        border-right: 1px solid #686868;
        ul{
            list-style: none;
            margin-top: 25px;
            margin-bottom: 25px;
            li{
                a{
                    font-family: 'marine_bolditalic';
                    &:hover{
                        margin-left:5px;
                        color:#2a6cb1;
                    }
                }
                &:before{
                    content:'o';
                    margin-right: 5px;
                }
            }
        }
    }
    .box-menu{
        margin:0;
        float: left;
        ul{
            margin:0;
            li{
                padding:0;
                width: auto;
                svg{
                    stroke:#686868;
                    .desen{
                        fill:#686868;
                    }
                }
                span{
                    color:#686868;
                    display: inline-block;
                    margin-top: 15px;
                    vertical-align: top;
                    text-align: left;
                    margin-right: 10px;
                    font-family: 'marine_bolditalic';
                }
                .link_icon{
                    display: inline-block;
                    float: left;
                }
                .formulario{
                    display: inline-block;
                    span{
                        margin-top: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .border-left{
        border-left: 1px solid #fff;
    }
    .right{
        padding-left: 20px;
        img{
            width: 100%;
        }
        .redes{
            font-family: 'marine_bolditalic';
            .title-redes{
                margin-bottom: 10px;
            }
            a{
                font-size: 19px;
                display: inline-block;
                margin-right: 5px;
                font-family: 'marine_bolditalic';
                &:before{
                    @include transition(all .33s ease);
                }
                &:hover{
                    color:$font_primary_color;
                    &:before{
                        transform:scale(1.2);
                    }
                }
                svg{
                    width: 60px;
                }
            }
            a.icon-gplus:hover{
               svg{
                    .desen{
                        fill:#a6110f;
                    }
               }
            }
            a.icon-facebook:hover{
               svg{
                    .desen{
                        fill:#486696;
                    }
               }
            }
            a.icon-twitter:hover{
               svg{
                    .desen{
                        fill:#60aae9;
                    }
               }
            }
            a.icon-instagram:hover{
               svg{
                    .desen{
                        fill:#332b61;
                    }
               }
            }
        }
    }
    .copy span{
        font-size: 11px;
        margin: 15px 0;
        float: left;
        width: 100%;
        text-align: center;
    }
    form{
        .title-form{
            font-family: $font_negrito;
            margin-bottom: 5px;
            float: left;
            font-size: 15px;
        }
        .campo{
            margin-bottom: 5px;
            float: left;
            input,
            textarea,
            select{
                background: transparent;
                width: 80%;
                padding: 4px 8px;
                border: 2px solid #5f5f5f;
                @include border-radius(3px);
                font-size: 11px;
                resize: none;
                font-family: 'marine_regular';
                color: #5f5f5f;
                &:focus,
                &:focus,
                &:focus{
                    @include box-shadow(inset 0 0 7px #4b0e1a);
                    color: #5f5f5f;
                    background-color: rgba(241, 241, 241, 0.25);
                }
                &:-webkit-input-placeholder,
                &:-webkit-input-placeholder,
                &:-webkit-input-placeholder{
                    color: #5f5f5f;
                }
                &:-ms-input-placeholder,
                &:-ms-input-placeholder,
                &:-ms-input-placeholder{
                    color: #5f5f5f;
                }
                &:-moz-placeholder,
                &:-moz-placeholder,
                &:-moz-placeholder{
                    color: #5f5f5f;
                }
                &:-moz-placeholder,
                &:-moz-placeholder,
                &:-moz-placeholder{
                    color: #5f5f5f;
                }
            }
        }
        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder,
        select::-webkit-input-placeholder{
            color: #5f5f5f;
        }
        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder,
        select:-ms-input-placeholder{
            color: #5f5f5f;
        }
        input::-moz-placeholder,
        textarea::-moz-placeholder,
        select::-moz-placeholder{
            color: #5f5f5f;
        }
        input:-moz-placeholder,
        textarea:-moz-placeholder,
        select:-moz-placeholder{
            color: #5f5f5f;
        }
        .botao{ 
            margin-top: 0;
            width: 100%;
            float: left;
            input,
            textarea,
            select{
                width: 80%;
                float: none;
                padding: 2px 20px;
                color: #5f5f5f;
                background-color: transparent;
                border: 2px solid #5f5f5f;
                @include border-radius(3px);
            }
            input:hover,
            textarea:hover,
            select:hover{
                background-color: #5f5f5f;
                border-color: #5f5f5f;
                color:#fff;
            }
        }
    }
}


/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){}

//Menu Responsivo
@media (max-width: 991px){
    #header-sroll.show-menu{
        .header .desk-menu {
            .logo {
                z-index: 25;
                position: relative;
                h1 .siteLogo {
                    background: url(../img/logo-colorida.svg) no-repeat;
                }
            }
             &:before{
                visibility: visible;
                transform: scale(40);
            }
            .box-menu{
                position: absolute;
                top:0;
                right:0;
            }
        }
    }
    #header-sroll{
        .header .desk-menu {
            .tel-header{
                display: none;
            }
            &:before{
                content:'';
                width: 100px;
                height: 100px;
                position: fixed;
                background: rgba(255,255,255,1);
                right: -100px;
                top: -100px;
                border-radius: 50%;
                visibility: hidden;
                @include transition(all 1s ease);
            }
            .logo{
                margin-top: 10px;
            }
            .box-menu{
                position: absolute;
                top:-1000px;
                right:-1000px;
                width: 100%;
                text-align: center;
                @include transition(all 1s ease);
                z-index: 23;
            }
        }
        .hamburger-menu,
        .bar,
        .bar.animate,
        .bar span{
            -webkit-transition: all .35s ease-in-out;
            -moz-transition: all .35s ease-in-out;
            -ms-transition: all .35s ease-in-out;
            -o-transition: all .35s ease-in-out;
            transition: all .35s ease-in-out;
        }
        .hamburger-menu {
            bottom: 0;
            height: 60px;
            cursor: pointer;
            position: relative;
            top: 20px;
            float: right;
            z-index: 99;
        }

        .bar,
        .bar:after,
        .bar:before {
            width: 34px;
            height: 3px;
        }
        .bar {
            position: relative;
            transform: translateY(25px);
            background: #fff;
            color: #fff;
        }
        
        .bar.animate {
            background: rgba(255, 255, 255, 0);
        }
        .bar:before {
            -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
            -moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
            -ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
            -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
            content: "";
            position: absolute;
            left: 0;
            bottom: 10px;
            background: #fff;
        }
        .bar:after {
            -webkit-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
            -moz-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
            -ms-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
            -o-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            background: #fff;
        }
       
        .bar.animate:after {
            top: 0;
            transform: rotate(45deg);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            background:$cor_hamburguer;
        }
        .bar.animate:before {
            bottom: 0;
            transform: rotate(-45deg);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            background:$cor_hamburguer;
        }
        .bar span{
            right: 60px;
            font-family: 'DroidSansBold';
            color: rgba(255, 255, 255, 0);
            position: relative;
            bottom: 13px;
            font-size: 16px;
        }
       
        .header .desk-menu .box-menu{
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            padding-top: 10%;
            ul{
                padding: 0;
                li{
                    width: 100%;
                    svg{
                        stroke:#686868;
                        width: 60px;
                        .desen{
                            fill:#686868;
                        }
                    }
                    a{
                        padding:0;
                    }
                    span{
                        color:#686868;
                        margin-bottom: 15px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    #header-sroll.small{
        .hamburger-menu{
            top: 6px;
        }
        .bar{
            background: $cor_hamburguer;
        }
        .bar:after,
        .bar:before{
            background: $cor_hamburguer;
        }
        .bar span{
            color: #333;
        }
        .bar.animate{
            background:transparent !important;
        }
        .header .box-menu ul li span{
            display: block;
        }
    }
    #header-sroll.show-menu{
        height: 100%;
        background-color: rgba(255,255,255,.95);
        .bar{
            background:transparent;
        }
        .responsive-menu{
            display: block;
            height: 100%;
        }
        .header .desk-menu .box-menu{
            width: 100%;
            float: left;
        }
    }
    #header-sroll.show-menu.small .box-menu{
        padding-top: 20%;
    }
    .footer {
        .box-menu{
            width: 100%;
            ul{
                margin: 0 auto;
                display: table;
                li{

                    margin-bottom: 50px;
                }
            }
        }
        .logo-rodape img{
            width: 200px;
            margin: 0px auto 30px;
            display: table;
        }
    }
}
@media (max-width: 1199px){
    .footer{
        .logo-rodape{
            margin: 0 auto;
            display: table;
            width: 200px;
        }
         .box-menu ul{
            display: table;
            margin: 20px auto;
        }
        .segundo-menu{
            text-align: center;
        }
    }
}
@media (max-width: 991px){
    section{
        text-align: center;
    }
    .head-title .page-name{
        text-align: center;
    }
    .footer{

        .segundo-menu{
            border:none;
            ul{
                margin-top: 0;
            }
        }
        .right {
            padding-left: 0;
            text-align: center;
        }
    }
}
@media (max-width: 668px){
    .footer .box-menu ul li{
        width: 100%;
        .link_icon{
            float: none;
        }
    }
}
@media (max-width: 481px){
    h1, .h1{
        font-size: 37px;
    }
    h2, .h2{
        font-size: 32px;
    }
    h3, .h3{
        font-size: 25px;
    }
}


/* BOOTSTRAP QUERIES */
@media (min-width: 768px){
    .my-container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .my-container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .my-container {
        width: 1170px;
    }
}
@media (min-width: 1351px){
    .my-container {
        width: 1300px;
    }
}
@media (min-width: 1400px){
    .my-container {
        width: 1360px;
    }
}