@mixin padding ($pads...) {
	padding: $pads;
}
@mixin margin ($margin...) {
	margin: $margin;
}

@mixin h1font(){
	font-size: 45px;
}

//Definindo constanstes
$primary_color: #2a6cb1;
$second_color: #fff;
$font_primary_color: #fff;
$font_second_color: #626262;

$cor_hamburguer: #2a6cb1;

$font_regular: marine_regularitalic;
$font_negrito: marine_blackitalic;
$font_button: marine_regularitalic;