@import "style";

.clientes{
	width: 100%;
	float: left;
	padding:50px 0;
	text-align:center;
	p{
		color:$font_second_color;
	}
	.cliente{
		display: inline-block;
	    margin: 10px;
		img{
			width: 100%;
			max-width: 250px;
		    margin-bottom: 50px;
		}
	}
}