@import "style";

.contato{
	width: 100%;
	float: left;
	padding:50px 0;
	text-align:center;
	color:$font_second_color;
	p{
		color:$font_second_color;
	}
}
.email-tel{
	margin-top: 20px;
    float: left;
    width: 100%;
    font-size: 19px;
}

form{

	.campo{
	    margin-bottom: 14px;
		input,
		textarea,
		select{
		    padding: 4px 8px;
		    border: 1px solid #6f6f6f;
		    width: 95%;
		    font-size: 15px;
		    resize: none;
		    font-family: 'villeray_light';
			&:focus,
			&:focus,
			&:focus{
			    -webkit-box-shadow: inset 0 0 7px #4b0e1a;
			    -moz-box-shadow: inset 0 0 7px #4b0e1a;
			    color: #505050;
			    background-color: rgb(241, 241, 241);
			}
			&:-webkit-input-placeholder,
			&:-webkit-input-placeholder,
			&:-webkit-input-placeholder{
			    color: #b5b1b1;
			}
			&:-ms-input-placeholder,
			&:-ms-input-placeholder,
			&:-ms-input-placeholder{
			    color: #b5b1b1;
			}
			&:-moz-placeholder,
			&:-moz-placeholder,
			&:-moz-placeholder{
			    color: #b5b1b1;
			}
			&:-moz-placeholder,
			&:-moz-placeholder,
			&:-moz-placeholder{
			    color: #b5b1b1;
			}
		}
	}
	.botao{
		margin-top: 0;
	}
	// .botao{
	//     margin-top: 0;
	// 	input,
	// 	textarea,
	// 	select{
	// 	    margin: 0 auto;
	// 	    display: table;
	// 	    float: none;
	// 	    padding: 5px 40px;
	// 	    color: #FFF;
	// 	    background-color: #81b14f;
	// 	    border: 1px solid #81b14f;
	// 	    border-bottom-width: 2px;
	// 	    border-bottom-color: #58595b;

	// 		&:hover,
	// 		&:hover,
	// 		&:hover{
	// 		    background-color: #58595b;
	// 		    border-color: #58595b;
	// 		    border-bottom-color: #81b14f;
	// 		}
	// 		img{
	// 		    position: absolute;
	// 		    right: 0;
	// 		    top: 11px;
	// 		}
	// 	}
	// }
	.wpcf7-form-control-wrap{
		display: inline-block;
		width: 49%;
	}
	.mensagem{
		width: 100%;
	}
	.wpcf7-not-valid{
	    border: 1px solid #d80505 !important;
	}
	span.wpcf7-not-valid-tip{
	    display: none !important;
	}
	div.wpcf7-response-output{
	    margin: 90px 0 0 0;
	    float: left;
	    width: 100%;
	    font-size: 14px;
	    border: 1px solid #f00;
	}
	div.wpcf7-mail-sent-ok{
	    border-color: #398f14;
	}
	div.wpcf7 img.ajax-loader{
	    width: 20px;
	    height: 20px;
	}
}