@import "style";
.box-preco{
	width: auto;
	height: 150px;
	position: relative;
	display: inline-block;
	.box-mega{
		display: inline-block;
		position: relative;
		span{
			font-family: $font_negrito;
		}
		.qtd-mega{
		    font-size: 150px;
		    display: block;
		    line-height: 89%;
		}
		.mega{
		    font-size: 38px;
		    text-transform: uppercase;
	        position: absolute;
            bottom: -20px;
            text-align: center;
		    width: 100%;
		}
	}
	.box-mais{
		display: inline-block;
		vertical-align: top;
	    margin-left: 10px;
		span{
			font-family: $font_negrito;
			font-size: 70px;
		}
	}
	.box-wifi-gratis{
	    display: inline-block;
	    position: relative;
	    height: 100%;
	    vertical-align: top;
	    padding-top: 25px;
	    margin-left: 10px;
		span{
			font-family: 'marine_bolditalic';
			font-size: 30px;
			line-height: 100%;
		}
	}
	.box-reais{
		display: inline-block;
	    position: relative;
	    height: 100%;
	    vertical-align: top;
	    .igual{
	    	font-family: $font_negrito;
		    font-size: 70px;
		    margin-left: 10px;
		    vertical-align: top;
	    }
	    .cifrao{
			position: absolute;
		    font-size: 26px;
		    left: 20px;
			font-family:'marine_bolditalic';
	    }
	    .reais{
			font-size: 150px;
			line-height: 89%;
			font-family: $font_negrito;
	    }
	    .centavos{
	    	margin-left: -10px;
			font-size: 30px;
			font-family:'marine_bolditalic';	
	    }
	}
}
.banner{
    height: 100vh;
    width: 100%;
    float: left;
    position: relative;
    #muteYouTubeVideoPlayer{
    	position: absolute;
	    background-size:cover;
	    width: 100%;
	    height: 100%;
        left: 0;
	    top: 0;
	    pointer-events: none;
    }
    .group{
    	margin-top:250px;
    }
    img{
    	width: 150px;
    	float: left;
    	margin-right: 20px;
    }
    h2{
		font-family: 'marine_bolditalic';
		padding-top: 40px;
		font-size: 35px;
	    margin-bottom: 0;
    	@include text-shadow(1px 1px 8px #000);
    }
    h3{
		margin: 0;
		font-size: 60px;
    	@include text-shadow(1px 1px 8px #000);
    }
    .botao{
	    width: 100%;
	    padding-bottom: 50px;
	    text-align: right;
    }
    .seta-down svg{
	    fill: #fff;
	    width: 80px;
	    padding: 10px;
	    position: absolute;
	    bottom: 20px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
    }
    .seta-down .seta{
		animation:pulse-seta 1s infinite alternate;
    }
    .seta-down .circle{
    	transform-origin:center;
		animation: pulse-circulo 1s infinite alternate;
    }
}
@keyframes pulse-seta{
	0%{
		@include transform(translate(0, 0));
	}
	100%{
		@include transform(translate(0, 10px));
	}
}
@keyframes pulse-circulo{
	0%{
		@include transform(scale(1));
	}
	100%{
		@include transform(scale(1.1));
	}
}


.vantagens{
	width:100%;
	float: left;
	color:#545454;
	padding:50px 0;
	p{
		color:#545454;
	}
	h3{
		font-family: $font_regular;
		font-size: 28px;
	}
	.botao a{
		border-color:#545454;
		span{
			color:#545454;
		}
	}
	.item{
	    height: 76px;
	    margin-bottom: 50px;
		img{
			width: 70px;
			margin-right:50px;
			float: left;
		}
	}
}
.para-voce{
	width:100%;
	float: left;
	background-image: url('../img/bg-para-voce.jpg');
    background-position-x: 15%;
    background-size: cover;
	padding:50px 0;
	h4{
		font-family: $font_regular;
		font-size: 28px;
	}
	.box{
		background-color:rgba(8, 32, 53, 0.67);
	}
}
.para-voce, 
.para-empresa{
	.box{
		padding: 30px;
		.botao{
			float: none;
		}
		.box-preco{
			width: 100%;
			text-align: center;
			height: auto;
		    margin-top: 10px;
			.box-mega{
				.qtd-mega{
				    font-size: 80px;
				}
				.mega{
				    font-size: 21px;
				    bottom: -15px;
				    left: 0;
				}
			}
			.box-mais span{
				font-size: 50px;
			}
			.box-wifi-gratis{
			    padding-top: 15px;
				span{
					font-size: 20px;
				}
			}
			.box-reais{
				margin-top: 20px;
			    .igual{
				    font-size: 50px;
			    }
			    .cifrao{
				    font-size: 19px;
			    }
			    .reais{
					font-size: 80px;
			    }
			    .centavos{
					font-size: 20px;
			    }
			}
		}
	}
}
.para-empresa{
	width:100%;
	float: left;
	padding:50px 0;
	color: #545454;
	position: relative;
	span{
		color: #545454;
	}
	h4{
		font-family: $font_regular;
		font-size: 28px;
	}
	img{
		width: 100%;
	    margin: 0 auto;
	    display: table;
	}
	.botao a{
		border-color:#545454;
		span{
			color:#545454;
		}
	}
}

/* COMPARADOR */ 
.comparador{
	float:left;
	width:100%;
	height:90vh;
	background-image:url('../img/comparador.jpg');
	background-position:50%;
}


.jogue{
	float:left;
	width:100%;
	color:#545454;
	text-align: right;
	padding:30px 0;
	border-bottom:1px solid #626262;
	.box{
		margin-top:40px;
		h3{
		    font-size: 43px;
		}
		p{
			color:#545454;
			font-size: 18px;
		}
	}
	.botao-circle{
		text-align: left;
	}
}

/* MEDIAS */
@media (max-width: 991px){
    .box-preco .box-mega .mega{
	    left: 0;
	}
	.banner{
		height: 100%;
		background-image:url('../img/bg-header-responsivo.jpg');
		background-size: cover;
		.group{
		    margin-top: 80px;
		    margin-bottom: 160px;
		}
		.botao{
			float: none;
			text-align: center;
		}
	}
	.vantagens .botao{
		margin-bottom: 50px;
	}
	.para-voce .box, .para-empresa .box{
	    z-index: 3;
	    position: relative;
	}
	.imagem-para-empresa{ 
		position: absolute;
	    z-index: 0;
	    left: 0;
	    top: 0;
	    opacity: .1;
		img{
			width: 70%;
		}
	}
	.jogue{
		.box{
		    text-align: center;
		}
		.botao-circle {
		    text-align: center;
		}
	}
}
@media (max-width: 767px){
	.banner{
		.group{
			margin-top: 70px;
		}
		img{
			float: none;
		}
		.botao{
			width: 100%;
		}
		h2{
			font-size: 25px;
		}
		h3{
			font-size: 40px;
		}
	}
}




