@import "style";

p, h2, h3, h4{
	color:$font_primary_color;
	text-align:center;
}
.box-container{
	width: 100%;
	float: left;
	color: $font_second_color;
	text-align:center;
	position: relative;
	background-size:cover;
}
.texto{
	position: relative;
	z-index: 10;
}
.a-online,
.missao,
.visao,
.valores{
	width:100%;
	float: left;
	padding:50px 0;
}
.missao,
.valores{
	position: relative;
	&:before{
		content:'';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color:#fff;
		z-index: 3;
		top: 0;
		left: 0;
	}
	p,h3, h4{
		color: #000;
	}
}

.icone-fixed-logo{
    width: 800px;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 200px;
    opacity: 0.8;
}
.traco{
	z-index: 9;
}

@media (max-width:900px){
	.icone-fixed-logo{
	    width: 100%;
	    top: 100px;
	}
}
@media (max-width:768px){
	.icone-fixed-logo{
	    display: none;
	}
}



