@import "style";

.header-solucoes{
	width: 100%;
	float: left;
	padding:50px 0;
	text-align:center;
	color: #333333;
	background-color:#f1f1f1;
	border-bottom:2px solid #4b0e1a;
	border-top:2px solid #4b0e1a;
	.item{
		width: 19%;
	    display: inline-block;
	    padding: 20px;
        height: 145px;
	    vertical-align: top;
		cursor:pointer;
		@include transition(all .7s ease);
		img{
			@include transition(all .7s ease);
		}
		&:hover{
			@include transform(scale(1.1));
		}
	}
	.item.green-img{
		img{
			-webkit-filter: hue-rotate(90deg);
			  filter: hue-rotate(90deg);
		}
	}
}

.solucoes{
	width:100%;
	float: left;
	color:#333333;
	font-family:'villeray_light';
	p, li{
		color:#333333;
		font-family:'villeray_light';
	}
	.box{
		background-repeat:no-repeat;
		background-position:100%;
		padding:50px;
		@include opacity(0);
		@include transition(all 1s ease);
		visibility: hidden;
		position: absolute;
		right: -100vw;
		ul{
			list-style: none;
		}
		.texto{
			width: 50%;
		}
		.botao{
			text-align: left;
		}
	}
	.show.box{
		@include opacity(1);
		visibility: visible;
		position: relative;
		right: 0;
	}
}
.mapa{
	width:100%;
	float: left;
	padding:200px 0;
	text-align:center;
	background-size:cover;
	p{
		font-family: 'villeray_light';
	}
}
@media(max-width:1260px){
	.solucoes .box .texto{
		width: 40%;
	}
}
@media(max-width:1199px){
	.solucoes{
		.box .texto{
			width: 100%;
			text-align: center;
		    z-index: 3;
		    position: relative;
		}
		.box{
			background-size: cover;
			.botao{
				text-align: center;
			}
			&:before{
				content:'';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(255, 255, 255, 0.71);
			}
		}
	}
}
@media(max-width:991px){
	.mapa{
		padding: 50px 0;
		background-position: 50%;
	}
}
@media(max-width:678px){
	.header-solucoes .item{
		width: 25%;
	}
}
@media(max-width:500px){
	.header-solucoes{
		padding: 10px 0;
		.item{
			height: auto;
			width: 32%;
		    padding: 9px;
		}

	}
}

