#header-sroll.small .logo a.siteLogo{
    width: 91px;
    height: 55px;
}
#header-sroll,
#header-sroll.small{
    z-index: 2;
}
/* Título comum */
.side-mobile{
    display: none;
}
.head-blog,
.head-blog .page-name{
    float: left;
    width: 100%;
    position: relative;
}
.head-blog{
    z-index: 2;
    background-position: 50% 50%;
    background-size: cover;
}
.head-blog .over{
    background-color: rgba(12, 47, 65, .8);
    float: left;
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
}
.head-blog .page-name{
    padding: 160px 0 40px 0;
}
.head-blog .page-name h1{
    text-transform: uppercase;
    color: #FFF;
}

.menu-blog,
.menu-blog nav{
    float: left;
    width: 100%;
}
.menu-blog .nav-blog{
    background: #F4F4F4;
    text-align: center;
    padding: 0;
    margin:0;
}
.menu-blog .nav-blog .blog-primary-nav{
    font-size: 17px;
    text-transform: uppercase;
    line-height: 100%;
    margin: 0;
    height: 57px;
    padding: 0;
}
.menu-blog .nav-blog .blog-primary-nav li{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    display: inline-flex;
}
.menu-blog .nav-blog .blog-primary-nav li:hover{
    background: #EAEAEA;
}
.menu-blog .nav-blog .blog-primary-nav a{
    color: #666;
    padding: 20px;
    width: 100%;
}
.menu-blog .nav-blog .blog-primary-nav ul.sub-menu{
    position: absolute;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    padding: 0;
    visibility: hidden;
    background: #F4F4F4;
    z-index: 3;
    top: 57px;
    -webkit-box-shadow: 1px 2px 2px 0px rgba(50, 50, 50, 0.50);
    -moz-box-shadow: 1px 2px 2px 0px rgba(50, 50, 50, 0.50);
    box-shadow: 1px 2px 2px 0px rgba(50, 50, 50, 0.50);
    width: 100%;
    display: table;
    left: 0px;
    min-width: 199px;
}
.menu-blog .nav-blog .blog-primary-nav ul.sub-menu li{
    text-align: left;
    border-bottom: 1px solid #DEDCDC;
    width: 100%;
}
.menu-blog .nav-blog .blog-primary-nav ul.sub-menu li.go-back{
    display: none;
}
.menu-blog .nav-blog .blog-primary-nav ul.sub-menu.shownow{
    opacity: 1;
    visibility: visible;
}

.blog-primary-nav>.menu-item-has-children>a{
    position: relative;
}
.blog-primary-nav>.menu-item-has-children{
    position: relative;
}
/*.blog-primary-nav>.menu-item-has-children>a::after,
.blog-primary-nav>.menu-item-has-children>a::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    height: 2px;
    background: #464c4e;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.blog-primary-nav>.menu-item-has-children>a::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.blog-primary-nav>.menu-item-has-children>a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.blog-primary-nav>.menu-item-has-children>a {
    padding-right: 40px;
}
.blog-primary-nav>.menu-item-has-children>a::after, .blog-primary-nav>.menu-item-has-children>a::before {
    -moz-transform-origin: 9px 50%;
    -ms-transform-origin: 9px 50%;
    -o-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
    -webkit-transform-origin: 9px 50%;
    right: 20px;
}
.blog-primary-nav ul.moves-out>li>a, .blog-primary-nav.moves-out>li>a {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}*/
.blog-primary-nav>.menu-item-has-children>a {
        padding-right: 30px!important;
    }
@media only screen and (min-width:1170px) {
    .blog-primary-nav>.menu-item-has-children>a::after, .blog-primary-nav>.menu-item-has-children>a::before {
        background: #c9cbc4;
    }
    .blog-primary-nav>.menu-item-has-children>a:hover:after, .blog-primary-nav>.menu-item-has-children>a:hover:before {
        background: #0072BC;
    }
    .blog-primary-nav>.menu-item-has-children>a::after, .blog-primary-nav>.menu-item-has-children>a::before {
        right: 15%}

    .blog-primary-nav>.menu-item-has-children>a::after, .blog-primary-nav>.menu-item-has-children>a::before {
        width: 9px;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background: #c9cbc4;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all .3s, -webkit-transform .3s;
        -moz-transition: all .3s, -moz-transform .3s;
        transition: all .3s, transform .3s;
    }
    .blog-primary-nav>.menu-item-has-children>a::before {
        right: 12px;
    }
    .blog-primary-nav>.menu-item-has-children>a::after {
        right: 7px;
    }
    .blog-primary-nav>.menu-item-has-children>a.selected::after, .blog-primary-nav>.menu-item-has-children>a.selected::before {
        width: 14px;
    }
 .blog-primary-nav>.menu-item-has-children>a.selected::before {
        -webkit-transform: translateX(5px) rotate(-45deg);
        -moz-transform: translateX(5px) rotate(-45deg);
        -ms-transform: translateX(5px) rotate(-45deg);
        -o-transform: translateX(5px) rotate(-45deg);
        transform: translateX(5px) rotate(-45deg);
    }
    .blog-primary-nav>.menu-item-has-children>a.selected::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .blog-primary-nav.moves-out>li>a {
        transform: translateX(0);
        opacity: 1;
    }
    .blog-primary-nav ul.is-hidden, .blog-primary-nav.moves-out>li>a {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .blog-primary-nav ul.moves-out>li>a {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

}
.home-blog{
    float: left;
    width: 100%;
    margin-top: 50px;
}
.sidebar{
    float: left;
    max-width: 260px;
}
.sidebar .widget{
    width: 100%;
    padding: 15px;
    float: left;
    background: #F1F1F1;
    margin-bottom: 20px;
    border: 1px solid #ededed;
}
.sidebar .widget h2{
    margin: 0 0 10px 0;
    color: #666;
    font-size: 17px;
    font-family: 'marine-bold';
    text-transform: uppercase;
}
.sidebar .widget p{
    font-size: 13px;
    font-family: 'marine-regular';
    color: #8E8E8E;
}
.sidebar .widget .emailsend #mc_embed_signup{
    float: left;
    width: 100%;
    background: #F1F1F1;
}
.sidebar .widget .emailsend #mc_embed_signup form {
    padding: 0;
    background-color: #F1F1F1;
    width: 100%;
    float: left;
    position: relative; 
}
.sidebar .widget .emailsend #mc_embed_signup .mc-field-group {
    position: relative;
    float: left;
    min-height: 100%;
    clear: left;
    padding-bottom: 0;
    width: 160px;
}
.sidebar .widget .emailsend #mc_embed_signup form div#form-group{
    float: left;
    width: 100%;    
}
.sidebar .widget .emailsend #mc_embed_signup .mc-field-group input{
    border-radius: inherit;
    font-family: 'marine-regular';
    background-color: #FFF;
    border: 1px solid #666;
    color: #333;
    text-transform: capitalize;
}
.sidebar .widget .emailsend #mc_embed_signup .mc-field-group input:focus{
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
}
.sidebar .widget .emailsend #mc_embed_signup .mc-field-group input::-webkit-input-placeholder {
    font-family: 'marine-regular';
    color: #AAA;
    font-style: italic;
    font-size: 13px;
    line-height: 22px;
}
.sidebar .widget .emailsend #mc_embed_signup .mc-field-group input:-moz-placeholder {
    font-family: 'marine-regular';
    color: #AAA;
    font-style: italic;
    font-size: 13px;
    line-height: 22px;
}
.sidebar .widget .emailsend #mc_embed_signup .mc-field-group input::-moz-placeholder {
    font-family: 'marine-regular';
    color: #AAA;
    font-style: italic;
    font-size: 13px;
    line-height: 22px;
}
.sidebar .widget .emailsend #mc_embed_signup .mc-field-group input:-ms-input-placeholder {
    font-family: 'marine-regular';
    color: #AAA;
    font-style: italic;
    font-size: 13px;
    line-height: 22px;
}
.sidebar .widget .emailsend #mc_embed_signup input.mce_inline_error{
    border: 1px solid #e53935;
}
.sidebar .widget .emailsend #mc_embed_signup div.mce_inline_error{
    display: none !important;
}
.sidebar .widget .emailsend #mc_embed_signup .clear{
    float: left;
    position: absolute;
    display: inline-flex;
    width: 64px;
    right: 0;
}
.sidebar .widget .emailsend #mc_embed_signup input{
    border-radius: inherit;
    border: none;
    background: #0072BC;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'marine-bold';
    padding: 10px 9px 7px 9px;
    letter-spacing: 1px;
    float: left;
    height: 36px;
    margin: 0;
}
.sidebar .widget .emailsend #mc_embed_signup div#mce-responses{
    display: block;
    float: left;
    position: relative;
    width: 100% !important;
    margin: 0 !important;
    top: 0;
    padding: 8px !important;
}
.sidebar .widget .emailsend #mc_embed_signup div.response{
    margin: 1em 0 0 0;
    padding: 1em .5em .5em 0;
    font-weight: 100;
    float: left;
    top: -1.5em;
    z-index: 1;
    width: 100% !important;
}
.sidebar .widget .cataut ul{
    list-style: none;
    padding: 0;
    position: relative;
}
.sidebar .widget .cataut ul li{
    list-style: none;
    padding-left: 14px;
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;

}
.sidebar .widget .cataut ul li::before{
    content: '-';
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    top: 0;
    left: 0;
}
.sidebar .widget .cataut ul li a{
    color:#8E8E8E;
}
.sidebar .widget .cataut ul li:hover{
    padding-left: 22px;
}
.sidebar .widget .videoblog span{
    float: left;
    width: 100%;
    position:relative;
    height:115px;
}
.sidebar .widget .videoblog a{
    float: left;
    width: 100%;
    height:115px;
    background-size: cover;
}

.sidebar .widget .videoblog a span i{
    padding: 5px 2px 1px 6px;
    border: 3px solid #FFF;
    color: #FFF;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    margin: -24px 0 0 -24px;
    font-size: 25px;
    left: 50%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

/* PAGINATION */
.navegacao{
    float: left;
    width: 100%;
    text-align: center;
}
.navegacao a.next.page-numbers,
.navegacao a.prev.page-numbers{
    color: #0072BC;
    padding: 10px 8px;
}
.navegacao .prev.page-numbers .navegacao a.page-numbers:nth-child(1);
.navegacao a.page-numbers:nth-child(2){
    padding: 10px 15px;
}
.navegacao a.page-numbers{
    color: #0072BC;
    border: 1px solid #0072BC;
    background-color: #FFF;
    padding: 10px 13px;
}
.navegacao a.page-numbers:hover{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #FFF;
    border: 1px solid #0072BC;
    background-color: #228CD1;
    text-decoration: none;
}
span.page-numbers.current{
    color: #FFF;
    border: 1px solid #4F9FD4;
    background-color: #0072BC;
    padding: 10px 15px;
}
.sidebar .widget .videoblog a:hover span i{
    opacity:.5;
}
.destaque{
    margin-bottom: 40px;
}
.destaque .itemPost{
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.destaque .titulo-destaque{
    float: left;
    width: 100%;
}

.destaque .titulo-destaque h3 a{
    font-family: inherit;
    color: #666;
}
.destaque .titulo-destaque .data,
.titleFull .data{
    font-size: 13px;
    text-transform: uppercase;
    color:#666;
}
.destaque .titulo-destaque .data a,
.titleFull .data a{
    color:#666;
    font-family: 'marine-bold';
}
.titleFull .data a:hover{
    color: #f17f04;
}
.destaque .desc-destaque{
    float: left;
    width: 100%;
}
.destaque .desc-destaque .know{
    border-color: #666;
}
.destaque .desc-destaque a{
    color:#666;
}
.destaque .desc-destaque .know a:hover{
    border-color:#666;
    color: #FFF
}
.destaque .desc-destaque .know a:hover:after{
    background-color: #666;
}
.destaque .thumb span.thumbDestaque{
    float: left;
    width: 100%;
    position:relative;
    height:100%;
}
.destaque .thumb a{
    float: left;
    width: 100%;
}
.ultimas,
.mais-lidas{
    margin-bottom: 40px;
}

.ultimas .divider1{
    float: left;
    width: 100%;
    padding-bottom: 60px;
    border-bottom:1px solid #666;
}
.authorposts{
    margin-top: 70px;
}
.authorposts .itemArticle{
    margin-bottom: 30px;
}
.itemArticle{
    width: 100%;
    float: left;
    position: relative;
    height: 190px;
    overflow: hidden;
}
.itemArticle figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    max-width: 727px;
    text-align: center;
    cursor: pointer;
    min-width: 262px;
    background: rgb(0, 0, 0);
    width: 100%;
    max-height: 360px;
}
.itemArticle figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}
.itemArticle figure figcaption {
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.itemArticle figure figcaption::before,
.itemArticle figure figcaption::after {
    pointer-events: none;
}
.itemArticle figure figcaption,
.itemArticle figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
}
.itemArticle figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.itemArticle figure h4 {
    color:#FFF;
    letter-spacing:1px;
    padding:0px 0 0 0;
}
.itemArticle figure h4,
.itemArticle figure p {
    margin: 0;
}
.itemArticle figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
.itemArticle figure.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.5;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
}
.itemArticle figure.effect-lily figcaption {
    text-align: left;
}
.itemArticle figure.effect-lily figcaption > div {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;    
    position: relative;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 40px;
}
.itemArticle figure.effect-lily:hover figcaption > div{
    top: 0;
}
.itemArticle figure.effect-lily h4,
.itemArticle figure.effect-lily p {
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}
.itemArticle figure.effect-lily h4 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    position: absolute;
    top: 0;;
}
.itemArticle figure.effect-lily p {
    color: rgba(255,255,255,0.8);
    -webkit-transition: opacity 0.4s, -webkit-transform 0.35s;
    transition: opacity 0.4s, transform 0.35s;
    opacity: 0;
    font-size: 11px;
    bottom: 0px;
    position: absolute;
}
.itemArticle figure.effect-lily:hover p {
    opacity: 1;
    bottom: 0;
}
.itemArticle figure.effect-lily:hover img,
.itemArticle figure.effect-lily:hover h4,
.itemArticle figure.effect-lily:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.itemArticle figure.effect-lily:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

/*SINGLE
=====================================*/
.titleFull{
    float: left;
    width: 100%;
}
.titleFull .limit{
    width: 100%;
    max-width:720px;
    margin: 30px auto;
    text-align: center;
}
.titleFull .authority{
    float: left;
    width: 100%;
    margin: 0 0 30px;
}
.titleFull .authority .avatarF{
    display: list-item;
    list-style: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px auto;
    display: none;
}
.titleFull .authority .name{
    display: list-item;
    color: #333;
    font-family: 'marine-bold';
    font-size: 13px;
    list-style: none;
}
.titleFull .title h2{
    font-size: 33px;
}
.titleFull .time h2{
    font-size: 33px;
}
.time i.icon-dot,
.data i.icon-dot {
    color: #0072BC;
    font-size: 17px;
}

.containerArticle .asize a{
    color: #666;
    margin: 0 5px 0 0;
    border-radius: 8px;
    border: 1px solid #666;
    width: 25px;
    height: 25px;
    position: relative;
    float: left;
}
.containerArticle .asize a.inc-font{
    padding:2px 5px;
    font-size:15px;
}
.containerArticle .asize a.dec-font{
    padding:5px 4px;
    font-size:12px;
}
.containerArticle .asize a.res-font{
    padding:2px 7px;
}
.containerArticle .utilities{
    width: 100%;
    float: left;
    position: relative;
}
.containerArticle .utilities .asize {
    float: left;
}
.containerArticle .utilities .social{
    float: left;
    margin: 0 0 0 15px;
}
.containerArticle .utilities .save-as-pdf{
    float: left;
    margin: 0 0 0 15px;
}
.containerArticle .utilities .save-as-pdf a{
    color: #666;
    font-size: 13px;
}
.containerArticle .utilities .save-as-pdf a:hover{
    color: #FF3500;
}
.containerArticle .utilities .printa{
    float: left;
    margin: 0 0 0 15px;
}
.containerArticle .utilities .printa a{
    color: #666;
    font-size: 13px;
}
.containerArticle .utilities .printa a:hover{
    color: #0072BC;
}
.containerArticle .content p{
    color: #616161;
    font-family: 'marine-regular';
    font-weight: normal;
    line-height: 160%;
    margin-bottom: 25px;
    font-size: 16px;
}
.containerArticle .content ul{
    margin-bottom: 25px;
}
.containerArticle .content ul li{
    color: #616161;
    font-family: 'marine-regular';
    font-size: 16px;
    line-height: 160%;
}
#conteudo-artigo{
    float: left;
    width: 100%;
    margin: 30px 0 30px 0;
}
.side2{
    display: none;
    width: 100%;
    float: left;
}
.side3{
    display: block;
}
.sidebar-right,
.sidebar{
            -webkit-transition: all .5s, -webkit-transform .5s;
        -moz-transition: all .5s, -moz-transform .5s;
        transition: all .5s, transform .5s;
}
.sidebar-right{
    float: left;
}
.sidebar-right .widget{
    width: 100%;
    padding: 15px;
    float: left;
    margin-bottom: 20px;
}
.sidebar-right .widget h2{
    margin: 0 0 10px 0;
    color: #666;
    font-size: 17px;
    font-family: 'marine-bold';
    text-transform: uppercase;
}
.sidebar-right .widget p{
    font-size: 13px;
    font-family: 'marine-regular';
    color: #8E8E8E;
}
.sidebar-right .widget .emailsend .form-inline label{
    display: none;
}
.sidebar-right .widget .emailsend .form-inline input{
    border-radius: inherit;
    border-color: #666;
    font-family: 'marine-regular';
}
.sidebar-right .widget .emailsend .form-inline input::-webkit-input-placeholder {
    font-family: 'marine-regular';
    color: #AAA;
    font-style: italic;
    font-size: 13px;
    line-height: 22px;
}
.sidebar-right .widget .emailsend .form-inline input:-moz-placeholder {
    font-family: 'marine-regular';
    color: #AAA;
    font-style: italic;
    font-size: 13px;
    line-height: 22px;
}
.sidebar-right .widget .emailsend .form-inline input::-moz-placeholder {
    font-family: 'marine-regular';
    color: #AAA;
    font-style: italic;
    font-size: 13px;
    line-height: 22px;
}
.sidebar-right .widget .emailsend .form-inline input:-ms-input-placeholder {
    font-family: 'marine-regular';
    color: #AAA;
    font-style: italic;
    font-size: 13px;
    line-height: 22px;
}
.sidebar-right .widget .emailsend .form-inline button{
    border-radius: inherit;
    border: none;
    background: #0072BC;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'marine-bold';
    padding: 10px 9px 7px 9px;
    letter-spacing: 1px;
}
.sidebar-right .widget .cataut ul{
    list-style: none;
    padding: 0;
    position: relative;
}
.sidebar-right .widget .cataut ul li{
    list-style: none;
    padding-left: 14px;
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.sidebar-right .widget .cataut ul li::before{
    content: '-';
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    top: 0;
    left: 0;
}
.sidebar-right .widget .cataut ul li a{
    color:#8E8E8E;
}
.sidebar-right .widget .cataut ul li:hover{
    padding-left: 22px;
}
.sidebar-right .widget .videoblog span{
    float: left;
    width: 100%;
    position:relative;
    height:115px;
}
.sidebar-right .widget .videoblog a{
    float: left;
    width: 100%;
    height:115px;
    background-size: cover;
}
.sidebar-right .widget .videoblog a span i{
    padding: 5px 2px 1px 6px;
    border: 3px solid #FFF;
    color: #FFF;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    margin: -24px 0 0 -24px;
    font-size: 25px;
    left: 50%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.sidebar-right .widget .videoblog a:hover span i{
    opacity:.5;
}
.is-opacity{
    opacity:.2;
}
.resultados-busca h2{
    font-size: 35px;
    margin: 0 0 40px 0;
    font-family: 'marine-regular';
}
.resultados-busca h2 span{
    font-family: 'marine-bold';
    font-style: italic;
}
.resultados-busca .ss{
    margin-bottom:40px;
}
.author .authority{
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
    display: none;
}
.author .authority img{
    border-radius: 50%;
    margin: 0 auto;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.75);
}

/* SECTION OUTRAS SOLUÇÕES*/
.other-solutions,
.other-solutions .title,
.other-solutions .one-solution,
.other-solutions .one-solution .box,
.other-solutions .one-solution .box .title,
.other-solutions .one-solution .box .preview,
.other-solutions .one-solution .box .know,
.other-solutions .more-solutions,
.other-solutions .more-solutions .know{
    position: relative;
    width: 100%;
    float: left;
}
.other-solutions .title{
    padding: 0 0 35px 0px;
}
.other-solutions .title h2{
    color: #666;
    font-size: 60px;
    text-align: center;
}
.other-solutions .one-solution{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-position: 50% 50%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 30px;
}
.other-solutions .one-solution:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.other-solutions .one-solution .overlay{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: rgba(0, 114, 188, .8);
    background-color: rgba(0, 114, 188, .8);
    background-color: rgba(0, 114, 188, .8);
    background-color: rgba(0, 114, 188, .8);
    display: inline-block;
    width: 100%;
    float: left;
    min-height: 100%;
    position: absolute;
}
.other-solutions .one-solution:hover .overlay{
    background-color: rgba(0, 0, 0, .8);
    background-color: rgba(0, 0, 0, .8);
    background-color: rgba(0, 0, 0, .8);
    background-color: rgba(0, 0, 0, .8);
}
.other-solutions .one-solution .box{
    padding: 30px;
    height: 240px;
}
.other-solutions .one-solution .box .title{
    padding: 0;
}
.other-solutions .one-solution .box .title h3{
    color: #FFF;
    font-size: 21px;
    margin-top: 0;
}
.other-solutions .one-solution .box .preview p{
    color: #FFF;
    font-size: 15px;
}
.other-solutions .one-solution .box .know a{
    color: #FFF;
}
.other-solutions .one-solution .box .know a:hover{
    color: #0072BC;
    border-color: #FFF;
}
.other-solutions .one-solution .box .know a:hover:after{
}
.more-solutions{
    padding: 40px 0 0 0;
}
.more-solutions .know a{
    color: #666;
    margin: 0 auto;
}
.more-solutions .know a:hover{
    color: #FFF;
    border-color: #666;
}
.more-solutions .know a:hover:after{
    background: #666;
}
.comentarios{
    float: left;
    width: 100%;
    position: relative;
}
#footer .disqus-footer{
    display: none !important;
}
#footer .logo a{
    display: none;
}
.fonte{
    display: none;
}

/* Print Styles */
@media print {
    header.header,
    .head-blog,
    .menu-blog,
    .sidebar,
    .sidebar-right.pull-right,
    .utilities,
    .comentarios,
    footer.footer{
        display: none;
    }
    .containerArticle .content {
        text-align: justify;
    }
    a.name[href]:after {
        content: none !important;
    }
    .data a[href]:after {
        content: none !important;
    }
    .fonte{
        display: block;
    }
    .fonte span{
        color: #666;
        text-align: left;
        display: block;
    }
    .fonte h3{
        display: none;
    }
}

/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){
}
@media (max-width: 1199px){
    .itemArticle{
        height: 190px;
    }
    .itemArticle figure.effect-lily figcaption > div{
        height: 50%;
    }
    .side2{
        display: block;
    }
    .side3{
        display: none;
    }
    .menu-blog .nav-blog .blog-primary-nav{
        font-size: 15px;
    }
    .other-solutions .title h2{
        font-size: 50px;
    }
    .other-solutions .one-solution .box .title{
        height: 72px;
    }
    .other-solutions .one-solution .box{
        height: 290px;
    }
}
@media (max-width: 991px){
     .other-solutions .one-solution{
        margin-bottom: 30px;
    }
}
@media (max-width: 767px){
    .side-desk{
        display: none;
    }
    .side-mobile{
        display: block;
    }
    .sidebar{
        float: none;
    }
}
@media (min-width: 768px){
    .form-inline .form-control {
        width: 150px;
    }
}
@media (max-width: 767px){
    .itemArticle{
        height: 300px;
    }
    .sidebar-right{
        float: left !important;
        width: 100%;
    }
}
@media (max-width: 481px){
    .menu-blog .nav-blog .blog-primary-nav{
        font-size: 13px;
    }
    .menu-blog .nav-blog .blog-primary-nav a{
        padding: 20px 12px;
    }
}