.jp-carousel-transitions .jp-carousel-close-hint span{
    float: right;
}
.jp-carousel-wrap.jp-carousel-transitions{
    overflow: hidden !important;
}
.subtitulo,
.dados-case,
.depoimentos-case,
.galeia{
    float: left;
    width: 100%;
}
.dados-case{
    margin: 30px 0 60px 0;
    background: #f1f1f1;
}
.subtitulo{
    margin: 0 0 60px 0;
}
.subtitulo h2{
    width: 100%;
    max-width: 900px;
    margin: 0 auto 30px auto;
    text-align: center;
}
.subtitulo p{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.dados-case .blue{
    background: #0072BC;
}
.dados-case .blue h3{
    color: #FFF;
}
.dados-case .blue p{
    color: #FFF;
}
.dados-case .grey{
    background: #f1f1f1;
}
.pai{
    padding:50px 40px;
    float: left;
    width: 100%;
}
.imagemLogo,
.cliente,
.solucoes,
.perfil{
     width: 100%;
     float: left;
     color: #FFF;
}

.imagemLogo{
     text-align: center;
     margin: 0 auto;
     width: 220px;
     float: none;
}
.gallery-caption{
    display: none;
}
.imagemDep{
    width: 100%;
    float: left;
}
.imagemDep img{
    width: inherit !important;
    -webkit-transform-style: inherit !important;
    transform-style: inherit !important;
    border-radius: 50%;
    overflow: hidden;
    max-width: 280px;
    width: 100%;
}
.contentD{
    text-align: center;
}
.contentD .texto{
    float: left;
    width:100%;
    font-family: 'marine-light-italic';
    font-size: 28px;
    margin-bottom: 10px;
}
.contentD .persona{
    float: left;
    width:100%;
}
.contentD .persona a{
    font-size: 19px;
    font-family: 'marine-bold'!important;
    color: #666;
}
.cases-depoimentos{
    float: left;
    width: 100%;
    display: block;
    height: 440px;
    position: relative;
}
/* SLIDE CLIENTES HOME */
.depoimentos-case .item {
    z-index: 2;
    background-size: 90% !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    height: 400px;
    display: block;
    position: relative;
}
.depoimentos-case .item:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    -webkit-filter: opacity(1);
    filter: none;
    -webkit-filter: grayscale(0%);
    image-rendering: auto;
}
.depoimentos-case .owl-item {
    min-height: 1px;
    overflow: hidden;
    float: left;
    user-select: none;
    backface-visibility: hidden;
    tap-highlight-color: transparent;
    touch-callout: none;
    position: relative;
    display: table;
}
.owl-carousel .owl-controls .owl-dots{
    bottom: inherit !important;
    cursor: pointer;
    position: relative !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #666!important;
}
.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #666 !important;
}
.galeia{
    background: #F1F1F1;
    padding: 40px 0;
    margin: 30px 0;
}
.galeia h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}
.gallery-icon a img{
    border: none !important;
    display:block;
    min-width:100%;
    height:100%;
}
.gallery-icon{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.gallery-icon:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.gallery-item {
    float: left;
    text-align: center;
    width: 33%;
    padding: 15px;
    overflow: hidden;
    position: relative;
    height: 260px;
    margin: 0!important;

}
.gallery-icon{
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.gallery-item img{
    position: absolute;
    height: 100%;
    width: auto;
}

/* VIDEO CASE */
.video-case,
.video-case .about-case,
.video-case .about-case .title,
.video-case .about-case .subtitle,
.video-case .about-case .play-video{
    position: relative;
    width: 100%;
    float: left;
}
.video-case{
    background-position: 50% 100%;
    height: 540px;
    background-size: cover;
}
.video-case .over{
    background-color: rgba(0, 70, 34, 0.52);
    position: absolute;
    width: 100%;
    float: left;
    height: 100%;
}
.video-case .about-case{
    padding: 15% 0 0 0;
    text-align: center;
    color: #FFF;
}
.video-case .about-case .title:after{
    height: 4px;
    width: 180px;
    content: '';
    background-color: #FFF;
    position: absolute;
    float: none;
    margin: 0 auto;
    right: 43%;
}
.video-case .about-case .title h2{
    color: #FFF;
    font-family: 'alexandriaflf-bolditalic';
    font-size: 40px;
    margin: 0 0 5px 0;
}
.video-case .about-case .title h2:before{
    content: '•';
    padding-right: 10px;
}
.video-case .about-case .title h2:after{
    content: '•';
    padding-left: 10px;
}
.video-case .about-case .subtitle{
    padding: 19px 0 0 0;
}
.video-case .about-case .subtitle span{
    display: block;
    font-size: 17px;
}
.video-case .about-case .play-video{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 40px 0 0 0;
}
.video-case:hover .about-case .play-video{
    padding: 35px 0 0 0;
}
.video-case .about-case .play-video a{
    color: #FFF;
    font-size: 35px;
    border: 5px solid #FFF;
    border-radius: 50%;
    padding: 5px 0px 0px 5px;
    float: none;
    margin: 0 auto;
    z-index: 11;
    opacity: 1;
    display: table;
    position: relative;
        align-items: center;
}
.video-case:hover .about-case .play-video a{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    padding: 10px 3px 0px 8px;
    font-size: 40px;
    bottom: 0px;
}
.video-case .about-case .play-video a:hover{
    border: 5px solid rgba(255, 255, 255, 0.55);
    color: rgba(255, 255, 255, 0.55);
}


/* ARCHIVE CASES */
.cases,
.cases .buscar,
.cases .filtros,
.cases .some-case,
.cases .some-case .um-case{
    position: relative;
    width: 100%;
    float: left;
    height: auto;
}
.cases{
    padding: 50px 0;
}
.cases.gray{
    background-color: #f1f1f1;  
}
.cases .some-case{
    margin: 0px;
}
.cases .some-case h2{
    font-family: 'marine-bold';
    font-size: 33px !important;
    margin: 0 0 25px 0;
}
.cases .some-case .um-case,
.cases .some-case .um-case *{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.cases .some-case .um-case{
    border: 1px solid #D6D6D6;
    margin: 0 0 30px 0;
    height: 226px;
    width: 100%;
    float: left;
    background-size: cover;
    background-position: 0% 50%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.0);
}
/*.cases .some-case .um-case:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    background-position: 50% 50%;
}
.cases .some-case .um-case .over{
    position: absolute;
    float: left;
    width: 100%;
    z-index: 0;
    height: 100%;
}
.cases .some-case .um-case:hover .over{
    background: rgba(255,255,255,0.90);
}*/
.cases .some-case .um-case img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: table;
    margin: auto;
    width: auto;
    padding: 0 15px;
    max-height: 60px;
    image-rendering: auto;
}
.cases .some-case .um-case:hover img{
    top: -60px;
    max-height: 75px;
}
.cases .some-case .um-case h2{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: table;
    margin: auto;
    z-index: 2;
    color: #FFF;
    text-transform: uppercase;
    font-size: 25px;
    width: 100%;
    text-align: center;
}
.cases .some-case .um-case:hover h2{
    top: -60px;
}
.cases .some-case .um-case .know{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: relative;
    opacity: 0;
    z-index: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: table;
    float: none;
    top: 200px;
    visibility: hidden;
}
.cases .some-case .um-case:hover .know{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: 1;
    border-color: #016EB6;
    top: 162px;
    visibility: visible;
}
.cases .some-case .um-case .know a{
    margin: 0 auto;
    color: #026FB7;
}
.cases .some-case .um-case .know a:hover{
    color: #FFF;
}
.know:hover a:after{
    background-color: #016EB6;
}



.outros-cases{
    position: relative;
    width: 100%;
    float: left;
}
/*.outros-cases .um-case{
    width: 100%;
    float: left;
    height: auto;
}*/
.outros-cases .um-case,
.outros-cases .um-case *{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.outros-cases .um-case{
    border: 1px solid #D6D6D6;
    position: relative;
    margin: 0 0 30px 0;
    height: 245px;
    width: 100%;
    float: left;
    background-size: cover;
    background-position: 0% 50%;
    overflow: hidden;
}
/*.outros-cases .um-case:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    background-position: 50% 50%;
}
.outros-cases .um-case .over{
    position: absolute;
    float: left;
    width: 100%;
    z-index: 1;
    background: rgba(0, 114, 188, 0.6);
    height: 100%;
}
.outros-cases .um-case:hover .over{
    background: rgba(0, 0, 0, 0.6);
}*/
.outros-cases .um-case img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: table;
    margin: auto;
    width: auto;
    padding: 0 15px;
    max-height: 60px;
    image-rendering: auto;
} 
.outros-cases .um-case:hover img{
    top: -60px;
}
.outros-cases .um-case h2{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: table;
    margin: auto;
    z-index: 2;
    color: #FFF;
    text-transform: uppercase;
    font-size: 25px;
    width: 100%;
    text-align: center;
}
.outros-cases .um-case:hover h2{
    top: -60px;
}
.outros-cases .um-case .know{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: relative;
    opacity: 0;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: table;
    float: none;
    top: 229px;
    visibility: hidden;
}
.outros-cases .um-case:hover .know{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: 1;
    border-color: #0072BC;
    top: 180px;
    visibility: visible;
}
.outros-cases .um-case .know a{
    margin: 0 auto;
    color: #0072BC;
}
.outros-cases .um-case .know:hover a{
    color: #FFFFFF;
}
.outros-cases .um-case .know:hover a:after{
    background-color: #0072BC;
}

/* see gallery_shortcode() in wp-includes/media.php */
@media (max-width: 1199px){
    .gallery-item {
        float: left;
        margin: 10px;
        text-align: center;
        width: 33% !important;
        height: 200px;
    }
}
@media (max-width: 991px){
    .imagemDep img{
        margin: 0 auto;
        width: 200px !important;
    }
    .depoimentos-case .item,
    .cases-depoimentos{
        height: auto;
    }
    .gallery-item {
        float: left;
        margin: 10px;
        text-align: center;
        width: 33% !important;
        height: 150px;
    }
}
@media(max-width: 767px){
    .gallery br{
        display: none;
    }
    .gallery-item {
        float: left;
        margin: 10px;
        text-align: center;
        width: 46% !important;
        height: 200px;
    }
}
@media(max-width: 550px){
    .gallery br{
        display: none;
    }
    .gallery-item {
        float: left;
        margin: 10px;
        text-align: center;
        width: 100% !important;
        height: 265px;
    }
    .gallery-item img{
        margin:0 auto;
    }
}