.clientes,
.clientes .title,
.clientes .cor,
.clientes .client,
.clientes .para,
.clientes .para .titulo,
.clientes .linha {
	position: relative;
	float: left;
	width: 100%;
}
.clientes .title{
	padding: 0 0 45px 0 !important;
}
.clientes .title h2{
	margin: 0;
	text-align: center;
}
.clientes .client{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
    border: 1px solid #EEE;
    height: 123px;
    padding: 0 15px;
    font: 0/0 a;
    text-align: center;
    margin: 0 0 30px 0;
    opacity: 0.75;
    -moz-opacity: 0.75;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    image-rendering: auto;
}
.clientes .client:before{
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.clientes .client img{  
    width: auto;
    vertical-align: middle;
    float: none;
    margin: 21px auto;
    display: inline-block;
    top: 0;
    bottom: 0;
    max-height: 75px;
    right: 0;
    left: 0;
}
.clientes .client:hover{  
    opacity: 1;
    -moz-opacity: 1;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
    image-rendering: auto;
}
.clientes .para .titulo {
    padding: 10px 0 30px;
}
.clientes .para .titulo h3 span{
    font-family: 'marine-bold';
}
.clientes .know {
    float: right;
    margin: 40px 0 !important;
}
.clientes .cor.gray{
    background-color: #f1f1f1;
}
.clientes .cor.gray .client{
    border: 1px solid #D6D6D6;
}
