#wrap{
    background-color: #FFF;
}
#error-page{
    margin: 0 !important;
    width: 100%;
    padding: 0 !important;
    height: 100%;
}
body{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    overflow-x: hidden !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333 !important;
    background-color: #fff !important;
}
.answer{
    position: relative;
    float: left;
    width: 100%;
}
.answer h2{
    text-align: center;
}
.answer p{
    text-align: center;
}
.answer button{
    cursor: pointer;
    background-color: #FFF;
    border: none;
    color: #0072BC;
}
.sair-fora{
    margin: 0 0 50px 0;
    position: relative;
    width: 100%;
    float: left;
    padding: 15px 15px;
    background-color: #f1f1f1;
}
.sair-fora .outlog{
    text-align: left;
    
}
.sair-fora .outlog a {
    text-transform: uppercase;
    color: #0072BC;
    font-size: 16px;
    text-align: right;
    position: absolute;
    right: 15px; 
}
.aplications,
.aplications .download{
    position: relative;
    width: 100%;
    float: left;
}
.aplications h2{
    margin: 10px 0 40px 0;
}
.aplications .download{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #f1f1f1;  
    padding: 15px;
    margin: 0 0 30px 0;
}
.aplications .download:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.aplications .download span{
    display: block;
    text-align: center;
    font-size: 18px;
    color: #666;
}
.aplications .download i{
    font-size: 30px !important;
    text-align: center;
    display: block;
}
.aplications .download:hover span,
.aplications .download:hover i{
    color: #228CD1;
}






