.header.comum #header-sroll .head-title{
    background-position: 50% 50%;   
}
/* CONTATO */
/*section{
    float:left;
    width: 100%;
}*/
.anchora{
    float: left;
    width: 100%;
    position: relative;
}
.formulario{
    position: relative;
    width: 100%;
}
.formulario .wpcf7{
    position: relative;
    width: 100%;
    float: left;
}
.contact-info{
    position: relative;
    z-index: 20;
    margin: 0 0 30px 0;
}
.formulario-contato{
    position: relative;
    z-index: 20;
}
.conteudo .contact-info i,
.formulario-contato .divider-vert i{
    font-size: 70px;
    color: #838383;
}
.iteminfo{
    width: 20%;
    -box-sizing: border-box;
    padding:30px 2.5% 0;
    text-align: center;
    float: left;
}
.trabalhe-conosco{
    position: relative;
    width: 100%;
    float: left;
    z-index: 20;
}
.trabalhe-conosco .divider-vert div{
    float:left;
    width: 100%;
}
.formulario-contato .divider-vert div{
    float:left;
    width:100%;
}
.trabalhe-conosco .divider-vert .cont001,
.trabalhe-conosco .divider-vert .cont002{
    float:left;
    width: 100%;
}
.formulario-contato .divider-vert .cont001,
.formulario-contato .divider-vert .cont002{
    float:left;
    width:100%;
    max-width:321px;
}
.formulario-contato .divider-vert .barra,
.trabalhe-conosco .divider-vert .barra{
    border-right:1px solid #666;
}
.formulario-contato .divider-vert .cont002 i,
.formulario-contato .divider-vert .cont002 p{
    float: left;
}
.formulario-contato .divider-vert .cont002 .horario{
    float: left;
    width: initial;
}
.formulario-contato .divider-vert .cont002 i{
    font-size:88px;
    margin:0 20px 0 0px;
}
.formulario-contato .divider-vert .cont002 i:before{
    margin:0;

}
.formulario-contato .divider-vert .cont002 p{
    margin: 45px 0 0 0;
}
.formulario-contato .formulario form,
.trabalhe-conosco .formulario form{
    width: 100%;
    float: left;
    margin-top: 80px;
    max-width: 670px;
    position: relative;
}
.formulario-contato .formulario input[type="submit"],
.trabalhe-conosco .formulario input[type="submit"]{
    background: #0072BC;
    width: 100%;
    max-width: 200px;
    color: #FFF;
    border: none;
    padding: 15px 20px;
    text-transform: capitalize;
}
.formulario-contato .formulario input[type="submit"]:hover,
.trabalhe-conosco .formulario input[type="submit"]:hover{
    background: #49A9BC;
}
/*STYLE FORM*/

.bgcolor-3 { background: #e8e8e8; }
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 304px;
    width: calc(100% - 2em);
    vertical-align: top;
}
.input2 {
    max-width: none;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    width: 60%;
    border: none;
    border-radius: 0;
    background: none;
    color: #0671b9;
    -webkit-appearance: none;
    padding: 1em; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #696969;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}
.input__label-content {
    position: relative;
    display: block;
    padding: 0;
    top: -2px;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #0671b9;
    font-size: 150%;
}
.input--kohana {
    overflow: hidden;
    background: #fff;
}

.input__field--kohana {
    width: 100%;
    background: transparent;
    padding-left: 3.75em;
    color: #0671b9;
    border: 1px solid #0671b9;
}
select.input__field--kohana {
    width: 100%;
    background: transparent;
    padding-left: 1.5em;
    color: #0671b9;
    border: 1px solid #0671b9;
}
.input__label--kohana {
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
    color: #0671b9;
}

.input__label-content--kohana {
    display: inline-block;
    width: auto;
    -webkit-transform: translate3d(-1.75em, 0, 0);
    transform: translate3d(-1.75em, 0, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
.icon--kohana {
    display: inline-block;
    margin-top: 0.6em;
    -webkit-transform: translate3d(-2em, 0, 0);
    transform: translate3d(-2em, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.input__field--kohana:focus + .input__label--kohana .input__label-content--kohana,
.input--filled .input__label-content--kohana {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}
.input__field--kohana:focus + .input__label--kohana .icon--kohana,
.input--filled  .icon--kohana {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/*file*/
.js .inputfile {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 0.1px;
}
.inputfile + label {
    /* 20px */
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    padding: 1.500rem 2.25rem;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    font-weight: normal;
    /* 10px 20px */
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-1 + label {
    color: #FFF;
    background-color: #0072BC;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #64A4CE;
}
label.input__label.input__label--kohana{
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}



.bgline {
    background-color: #0077B6;
    position: relative;
    width: 100%;
    float: left;
    z-index: 1;
    margin: 50px 0 0 0;
    overflow: hidden;
}
.bgline .over {
    background-image: url('../img/backlines.png');
    position: fixed !important;
    width: 100%;
    background-size: cover;
    top: 0;
    height: 100% !important;
    z-index: -1;
}










.unidades{
    position: relative;
    z-index: 20;
    padding: 20px 0;
    text-align: center;
    margin: 30px 0
}
.unidades h2{
    color: #FFF;
}
.unidades ul{
    width: 61%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.unidades ul li{
    color: #FFF;
    display: inline-table;
    margin: 15px 30px;
    font-size: 16px;
}
.unidades ul li:before{
    content: '\E81E';
    color: #FFF;
    font-size: 15px;
    position: relative;
    font-family: 'fontello';
    left: 0;
    padding: 0 10px 0 0
}
.mapa{
    margin: 30px 0 60px 0;
    z-index: 20;
    float: left;
    width: 100%;
    position: relative;
}
.mapa_visual{
    float: left;
    width: 100%;
    height: 400px;
}

.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}
/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}


/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){
    .unidades ul{
        width: 100%;
    }
    .input.responsivo{
        width: 296px;
    }
}
@media(max-width: 1199px){
    .unidades ul{
        width: 100%;
    }
    .formulario-contato .divider-vert .cont002 i{
        margin: 0 10px 0 0px;;
        font-size: 70px;
    }
    .input.responsive{
        max-width: 278px;
    }
    .input.send{
        max-width: 252px;        
    }
    .formulario-contato .divider-vert .barra{
        border: none;
    }
    .input.responsivo{
        max-width: 237px;
    }
    .input.sender{
        max-width: 171px;        
    }
    .formulario-contato .divider-vert .cont002 p{
        margin: 32px 0 0 0;
    }
}
@media(max-width: 991px){
    .iteminfo{
        width: 25%;
        padding: 30px 1%;
    }
    .iteminfo:first-child{
        padding: 30px 1% 30px 0;        
    }
    .iteminfo:nth-child(4){
        padding: 30px 0 30px 1%;   
    }
    .iteminfo:last-child{
        width: 100%;
    }
    .formulario-contato .divider-vert .cont001{
        margin: 21px 0 0 0;
        padding: 0 20px 0 0;
    }
    .formulario-contato .divider-vert .cont002{
        border-left: 1px solid #666; 
    }
    .formulario-contato .divider-vert .cont002 i{
        line-height: 0;
        margin: 0 20px;
    }
    .formulario-contato .divider-vert .cont002 p{
        margin: 22px 0 0;        
    }
    .input.responsive{
        width: 267px;        
    }
    .input.send {
        max-width: 231px;
    }
    .trabalhe-conosco .divider-vert .barra{
        border: none;
    }
    .trabalhe-conosco .formulario form{
        margin-top: 40px;        
    }
    .input.responsivo {
        max-width: 267px;
    }
    .input.sender {
        max-width: 231px;
    }
}
@media(max-width: 767px){
    .iteminfo {
        width: 33.33333%;
        padding: 30px 1% !important;
        height: 252px;
    }
    .iteminfo:nth-child(4),
    .iteminfo:last-child {
        width: 50%;
        float: left;
        display: table;
    }
    .unidades h2{
        font-size: 50px;
    }
    .input.responsive {
        max-width: 44.5%;
        width: 100%;
        margin: 15px 2.5%;
    }
    .input.responsivo {
        max-width: 44.5%;
        margin: 15px 2.5%;
    }
    .formulario-contato .divider-vert .cont002{
        border:none;
        margin:20px 0 0 0;
    }
    .formulario-contato .divider-vert .cont002 i{
        margin: 0 20px 0 0;
    }
}
@media(max-width: 686px){

}
@media(max-width: 620px){
    .input.responsive{
        width: initial;
        max-width: none;
        display: block;
        margin: 0 0 15px 0;
    }
    .input--kohana{
        margin: 0 0 15px 0;
        width: 100%;
    }
    .trabalhe-conosco .input--kohana{
        margin: 0 0 15px 0;        
    }
    .input.responsivo{
        width: 100% !important;
        position: relative;
        margin:  0 0 15px;
    }
}
@media(max-width: 570px){
    .iteminfo {
        width: 50% !important;
    }
    .iteminfo:last-child {
        width: 100% !important;
        float: none;
    }
}
@media(max-width: 500px){
    .input.responsivo{
        width: 94%;
        min-width: initial;
        display: block;
        max-width: inherit;;
    }
}
@media(max-width: 481px){
    .trabalhe-conosco h2{
        font-size: 40px;
    }
}
@media(max-width: 400px){
    .iteminfo {
        width: 100% !important;
        padding: 30px 5% 20px !important;
        height: auto;
    }
    .contact-info h2{
        font-size: 44px;
        text-align: center;    
    }
}
