#header-sroll .responsive-menu{
    display: block !important;
    position: initial !important;
    float: left;
}
.primary{
    position: relative;
    width: 100%;
    float: left;
    height: 100vh;
}
#header-sroll.small .logo .logo-adn{
    margin-top: 7px;
}
#header-sroll.small .logo a.siteLogo{
    width: 93px;
    height: 45px;
}
/*CONTEÚDO*/
.link-scrool{
    float: left;
    width: 100%;
}
.bgline{
    background-color: #0077B6;
    position: relative;
    width: 100%;
    float: left;
}
.bgline .over{
    background-image: url('../img/backlines.png');
    position: fixed;
    width: 100%;
    background-size: cover;
    top: 0;
    height: 100%;
}

/* SECTION SIGA 3 */
.siga,
.siga .first,
.siga .first .title,
.siga .first .desc.siga .first .image-siga,
.siga .first .challenges,
.siga .second,
.siga .second .title{
    position: relative;
    float: left;
    width: 100%;
}
.siga .first{
    padding: 40px 0;
    background-color: transparent;
}
.siga .first .title h3{
    font-family: 'marine-regular';
    margin: 0 0 5px 0;
    text-align: right;
    font-size: 40px;
    color: #FFF;
}
.siga .first .title h3 span{
    font-family: 'marine-regular';
    font-size: 45px;
    color: #FFF;
}
.siga .first .title h3:after{
    content: '';
    background-color: #FFF;
    width: 85px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
}
.siga .first .desc{
    padding: 15px 0 0 0;
    float: left;
}
.siga .first .desc p{
    text-align: right;
    font-size: 15px;
    color: #FFF;
}
.siga .first .know{
    float: right;
    border-color: #FFF;
    margin: 25px 0 0 0;
}
.siga .first .know a{
    color: #FFF;
}
.siga .first .know:hover a{
    color: #0077B6 !important;
}
.siga .first .image-siga img{
    display: table;
    float: none;
    margin: 30px auto 0;
    width: 70%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    /* IE 6-7 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';
}
.siga .first .image-siga svg{
    display: table;
    float: none;
    margin: 30px auto 0;
}
.siga .first .challenges{
    padding: 25px 0 0 0;
}
.siga .first .challenges h4{
    font-family: 'marine-regular';
    color: #FFF;
    font-size: 33px;
}
.siga .first .challenges ul{
    padding: 0;
}
.siga .first .challenges ul li{
    color: #FFF;
    font-size: 15px;
    padding: 3px 0;
    list-style: none;
}
.siga .first .challenges ul li:before{
    content: '\E81D';
    font-family: "utilities";
    padding: 0 10px 0 0px;
    font-size: 13px;
}
.siga .second{
    background-color: #FFF;
}
.siga .second .title{
    padding: 30px 0 0 0;
}
.siga .second .title h3{
    font-family: 'marine-regular';
    text-align: center;
    font-size: 35px;
}
.siga .second .title h3 span{
    text-transform: uppercase;
    font-family: 'marine-bold';
}
.siga .second .benefits{
    display: table;
    margin: 0 auto;
    position: relative;
    float: none;
}
.siga .second .benefits ul{
    list-style: none;
    padding: 0;
    text-align: center;
}
.siga .second .benefits .one-benefit{
    display: inline-block;
    margin: 0 0 15px;
    position: relative;
    top: 0;
    float: none;
    height: 170px;
}
.siga .second .benefits .one-benefit .hex {
    width: 78px;
    height: 44px;
    background-color: #f17f04;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: auto 126.0px;
    -moz-background-size: auto 126.0px;
    -o-background-size: auto 126.0px;
    background-size: auto 126.0px;
    position: relative;
    margin-top: 36.24px;
    margin-right: auto;
    margin-bottom: 36.24px;
    margin-left: auto;
    text-align: center;
    border-right: 1px solid #f17f04;
    border-left: 1px solid #f17f04;
    float: none;
}
.siga .second .benefits .one-benefit .hex .inner {
    color: #f17f04;
    position: absolute;
    margin: 0 auto;
    float: none;
    width: 100%;
    z-index: 10;
}
.siga .second .benefits .one-benefit .hex .inner img {
    color: #FFF;
    margin: 0 auto;
    width: 40px;
    display: block;
    line-height: 19px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    /* IE 6-7 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';
}
.siga .second .benefits .one-benefit .hex .corner-1 {
    z-index: 0;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}
.siga .second .benefits .one-benefit .hex .corner-1,
.siga .second .benefits .one-benefit .hex .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-left: 1px solid #f17f04;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    border-right: 1px solid #f17f04;
}
.siga .second .benefits .one-benefit .hex .corner-1:before {
    -webkit-transform: rotate(-60deg) translate(-103.9231px, 0px);
    -moz-transform: rotate(-60deg) translate(-103.9231px, 0px);
    -ms-transform: rotate(-60deg) translate(-103.9231px, 0px);
    -o-transform: rotate(-60deg) translate(-103.9231px, 0px);
    transform: rotate(-60deg) translate(-103.9231px, 0px);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}
.siga .second .benefits .one-benefit .hex .corner-1:before,
.siga .second .benefits .one-benefit .hex .corner-2:before {
    width: 207.6px;
    height: 207.6px;
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    background: inherit;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.siga .second .benefits .one-benefit .hex .corner-2 {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.siga .second .benefits .one-benefit .hex .corner-1,
.siga .second .benefits .one-benefit .hex .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-left: 1px solid #f17f04;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    border-right: 1px solid #f17f04;
}
.siga .second .benefits .one-benefit .hex .corner-2:before {
    -webkit-transform: rotate(60deg) translate(-51.96155px, -14px);
    -moz-transform: rotate(60deg) translate(-51.96155px, -14px);
    -ms-transform: rotate(60deg) translate(-51.96155px, -14px);
    -o-transform: rotate(60deg) translate(-51.96155px, -14px);
    transform: rotate(60deg) translate(-51.96155px, -14px);
    bottom: 0;
}
.siga .second .benefits .one-benefit .hex .corner-1:before,
.siga .second .benefits .one-benefit .hex .corner-2:before {
    width: 207.6px;
    height: 207.6px;
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    background: inherit;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.siga .second .benefits .one-benefit .legend{
    position: relative;
    float: left;
    width: 125px;
}
.siga .second .benefits .one-benefit .legend span{
    display: block;
    text-align: center;
    color: #333;
    font-size: 13px;
}



/* SECTION CASE */
.video-case,
.video-case .about-case,
.video-case .about-case .title,
.video-case .about-case .subtitle,
.video-case .about-case .play-video{
    position: relative;
    width: 100%;
    float: left;
}
.video-case{
    background-position: 50% 100%;
    height: 540px;
    background-size: cover;
}
.video-case .over{
    background-color: rgba(0, 70, 34, 0.52);
    position: absolute;
    width: 100%;
    float: left;
    height: 100%;
}
.video-case .about-case{
    padding: 15% 0 0 0;
    text-align: center;
    color: #FFF;
}
.video-case .about-case .title:after{
    height: 4px;
    width: 180px;
    content: '';
    background-color: #FFF;
    position: absolute;
    float: none;
    margin: 0 auto;
    right: 43%;
}
.video-case .about-case .title h2{
    color: #FFF;
    font-family: 'alexandriaflf-bolditalic';
    font-size: 40px;
    margin: 0 0 5px 0;
}
.video-case .about-case .title h2:before{
    content: '•';
    padding-right: 10px;
}
.video-case .about-case .title h2:after{
    content: '•';
    padding-left: 10px;
}
.video-case .about-case .subtitle{
    padding: 19px 0 0 0;
}
.video-case .about-case .subtitle span{
    display: block;
    font-size: 17px;
}
.video-case .about-case .play-video{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 40px 0 0 0;
}
.video-case:hover .about-case .play-video{
    padding: 35px 0 0 0;
}
.video-case .about-case .play-video a{
    color: #FFF;
    font-size: 35px;
    border: 5px solid #FFF;
    border-radius: 50%;
    padding: 5px 0px 0px 5px;
    float: none;
    margin: 0 auto;
    z-index: 11;
    opacity: 1;
    display: table;
    position: relative;
        align-items: center;
}
.video-case:hover .about-case .play-video a{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    padding: 10px 3px 0px 8px;
    font-size: 40px;
    bottom: 0px;
}
.video-case .about-case .play-video a:hover{
    border: 5px solid rgba(255, 255, 255, 0.55);
    color: rgba(255, 255, 255, 0.55);
}


/* SECTION PREVIEW DO BLOG */
.preview-blog,
.preview-blog .title,
.preview-blog .separator,
.preview-blog .one-post,
.preview-blog .one-post .thumb-post,
.preview-blog .one-post .box,
.preview-blog .one-post .box .title,
.preview-blog .one-post .box .inf,
.preview-blog .one-post .box .desc,
.preview-blog .one-post .box .know{
    position: relative;
    width: 100%;
    float: left;
}
.preview-blog{}
.preview-blog .title{
    padding-bottom: 30px;
}
.preview-blog .title h2{
    color: #666;
    text-align: center;
}
.preview-blog .one-post .thumb-post{
    border: 1px solid #f1f1f1;
    background-size: cover;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.preview-blog .one-post .box .title{
    padding: 20px 0 0 0;
}
.preview-blog .one-post .box .title h3 a{
    font-family: 'marine-bold';
    font-size: 25px;
    color: #666;
}
.preview-blog .one-post .box .title h3 a:hover{
    color: #0072BC;
}
.preview-blog .one-post .box .inf span.date{
    font-size: 15px;
    color: #666;
}
.preview-blog .one-post .box .inf span.category a{
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'marine-bold';
    color: #666;
}
.preview-blog .one-post .box .inf span.category a:hover{
    color: #F17F04;
}
.preview-blog .one-post .box .inf span.category i{
    color: #0072BC;
    font-size: 17px;
}
.preview-blog .one-post .box .desc{
    padding: 0 100px 0 0;
}
.preview-blog .one-post .box .desc p{
    font-size: 18px;
    color: #666;
}
.preview-blog .one-post .box .know{
    padding: 0;
    margin: 15px 0 0 0;
}
.preview-blog .one-post .box .know a{
    float: left;
}
.preview-blog .know{
    margin: 70px auto 0;
}
.preview-blog .know a{
    color: #666;
}
.preview-blog .know a:hover{
    color: #FFF;
    border-color: #666;
}
.preview-blog .know a:hover:after{
    background: #666;
}
.preview-blog .separator{
    background-color: #666;
    width: 1px;
    height: 500px;
    margin: 0 auto;
    float: none;
}



/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){
    .siga .second .benefits .one-benefit{
        margin: 0 8px;
    }
    .video-case .about-case .title:after{
        right: 42%;
    }
}
@media(max-width: 1199px){
    .video-case .about-case{
        padding: 20% 0 0 0;
    }
    .video-case .about-case .title:after{
        right: 40%;
    }
    .bgline .over{
        background-position: 50% 50%;
    }
    .siga .first .title h3 span{
        font-size: 40x;
    }
    .siga .first .image-siga img{
        width: 73%;
        margin: 37px auto 0;
    }
    .siga .second .benefits .one-benefit:first-child{
        margin: 0 5px 0 0
    }
    .siga .second .benefits .one-benefit{
        margin: 0 5px;
    }
    .siga .second .benefits .one-benefit:last-child{
        margin: 0 0 0 5px
    }
    .preview-blog .title h2{
        font-size: 50px;
    }
    .preview-blog .one-post .thumb-post{
        height: 210px;
    }
    .preview-blog .one-post .box .title{
        height: 125px;
    }
    .preview-blog .one-post .box .desc{
        padding: 0;
    }
}
@media(max-width: 991px){
    .logo {
        width: 200px;
    }
    #header-sroll .logo a.siteLogo {
        width: 190px;
    }
    #header-sroll .the-menu ul li a {
        margin: 20px 0px;
        font-size: 14px;
        text-align: left;
    }
    .video-case .about-case .title:after{
        right: 36%;
    }
    .preview-blog .one-post .thumb-post{
        height: 170px;
    }
    .bgline .over{}
    .preview-blog .one-post{
        margin: 0 0 40px 0;
    }
}
@media(max-width: 767px){
    .siga .first .title h3{
        text-align: center;
    }
    .siga .first .title h3 br,
    .siga .first .desc p br{
        display: none;
    }
    .siga .first .title h3:after{
        margin: 0 auto;
        float: none;
        right: 45%;
    }
    .siga .first .desc{
        margin: 20px 0 25px 0;
    }
    .siga .first .desc p{
        text-align: center;
    }
    .siga .first .know a{
        float: none;
    }
    .siga .first .image-siga img{
        width: 260px;
    }
    .siga .first .challenges{
        padding: 80px 0 0 0;
    }
    .video-case .about-case{
        padding: 29% 0 0 0;
    }
    .video-case .about-case .title:after{
        right: 31%;
    }
    .preview-blog .one-post{
        margin: 0 0 80px 0;
    }
    .preview-blog .one-post .thumb-post{
        height: 308px
    }
    .preview-blog .one-post .box .title{
        height: auto;
    }
    .preview-blog .one-post .box .title h3{
        margin: 0 0 10px 0;
    }
    .preview-blog .separator{
        display: none;
    }
    .preview-blog .know{
        padding: 0;
        margin: 0 auto;
    }
}
@media(max-width: 534px){
    #header-sroll .box-menu .column{
        display: none;
    }
    #header-sroll .box-menu .telephone{
        border-left: none !important;
        margin: 21px 0 0 0 !important;
    }
}
@media(max-width: 481px){
    .siga .first .title h3:after{
        margin: 0 auto;
        float: none;
        right: 38%;
    }
    .preview-blog .title h2{
        font-size: 35px;
    }
    .video-case .about-case .title:after{
        right: 27%;
    }
    .preview-blog .one-post .thumb-post{
        height: 210px;
    }
}


