.conteudo{
    padding-top: 65px;
}
.header.comum{
    position: relative;
}
.header.comum #header-sroll.small{
    z-index: 9;
}
.header.comum,
.desk-menu .logo{
    z-index: 2;
}
.header.comum #header-sroll .box-menu .the-menu,
.header.comum #header-sroll .box-menu .telephone{
    z-index: 91;
}
.header.comum #header-sroll .head-title{
    -webkit-transition: all .53s ease-in-out;
    -moz-transition: all .53s ease-in-out;
    -ms-transition: all .53s ease-in-out;
    -o-transition: all .53s ease-in-out;
    transition: all .53s ease-in-out;
    top: -101px;
}
.header.comum #header-sroll.small .head-title{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    top: -274px;
    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16), 0 5px 10px 0 rgba(0, 0, 0, 0.12);
}
.header.comum #header-sroll.small .head-title .over{
    background-color: #0072bc;
}
.head-title .page-name h1 {
    text-transform: uppercase;
    color: #FFF;
    line-height: 100%;
    margin: 0;
}
.header.comum  #header-sroll .head-title .page-name{
    padding: 170px 0 0 0;
}
.header.comum  #header-sroll.small .head-title .page-name{
    padding: 140px 0 0 0;
}
.header.comum  #header-sroll.small .head-title .page-name h1{
  opacity: 0;
}
.head-title{
  position: relative;
  top: 0;
}
.header.comum  #header-sroll .head-title .page-name #breadcrumbs{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    top: 0;

}
.header.comum  #header-sroll.small .head-title .page-name #breadcrumbs{
    top: 50px;
    opacity: 0;
}





/* HAMBURGER MENU */
.hamburger-menu{
    display: table;
}
.meni-seg .hamburger-menu,
.meni-seg .bar,
.meni-seg .bar.animate,
.meni-seg .bar span{
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.meni-seg .hamburger-menu {
    margin: 0 auto;
    cursor: pointer;
    height: 55px;
    position: relative;
    right: 40px;
    top: 0px; 
}
#header-sroll.small .hamburger-menu{
    height: 55px;   
    top: 50px;
    opacity: 0;
    visibility: hidden; 
}
.meni-seg .bar,
.meni-seg .bar:after,
.meni-seg .bar:before {
    width: 23px;
    height: 3px;
}
.meni-seg .bar {
    position: relative;
    transform: translateY(25px);
    background: white;
    color: #FFF;
    margin: 0 auto;
}
#header-sroll.small .bar{}
.meni-seg .bar.animate {
    background: rgba(255, 255, 255, 0);
}
.meni-seg .bar:before {
    -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
    -moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
    -ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
    -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    background: #FFF;
}
.meni-seg .bar:after {
    -webkit-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
    -moz-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
    -ms-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
    -o-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    background: #FFF;
}
#header-sroll.small .bar:after,
#header-sroll.small .bar:before{
}
.meni-seg .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.meni-seg .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.meni-seg .bar span{
    right: 60px;
    color: rgba(255, 255, 255, 0);
    position: relative;
    bottom: 13px;
    font-size: 16px;;
}
#header-sroll.small .bar span{
}
#header-sroll.show-menu{
    height: 100%;
    background-color: rgba(255,255,255,.95);
}
#header-sroll.show-menu .bar.animate:before,
#header-sroll.show-menu .bar:after{
    background: #000;
}
.meni-seg .bar span.seg{
    color: #FFF;
    text-transform: uppercase;
    position: relative;
    left: 31px;
    bottom: 9px;
}
.meni-seg .bar span.seg:hover{
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

/* SEGMENTATION */
.segmentation{
    overflow: hidden;
    position: relative;
}
.segmentation.hiddnow{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-bottom: 0px solid transparent;
    height: 0px;
}
.segmentation.shownow{
    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16), 0 5px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #527487;
    height: 115px;
}
#header-sroll.small .segmentation.shownow{
    box-shadow: none;
    opacity: 0;
    visibility: hidden;
    height: 0;
}
.segmentation ul:before{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 15px;
    left: -63px;
}
.segmentation.hiddnow ul:before{
    top: 0px;
}
.segmentation.shownow ul:before{
    top: 47px;
}
.segmentation ul li a{
    height: 114px;
}
.segmentation.hiddnow ul li a{
    padding: 0px;
}
.segmentation.shownow ul li a{
    padding: 10px;
}
.segmentation ul li .icon img{
    width: 39px;
}
.segmentation ul li a:hover .icon img{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}


#segmobi,
#theSegResp{
    display: none;
}
/* MEDIA QUERIES */
@media(max-width: 1199px){
    .header.comum #header-sroll .head-title{
        top: -100px;
    }
    .header.comum #header-sroll.small .head-title{
        top: -380px !important;
    }
}
@media(max-width: 1170px){
    .header.comum #header-sroll .head-title{
        top: -66px;
    }    
    .header.comum #header-sroll.small .head-title {
        top: -386px !important;
    }
}
@media(max-width: 991px){
    .logo{
        width: 100px;
    }
    #header-sroll.small .logo .logo-adn{
        width: 127px;
    }        
    .header.comum #header-sroll.small .head-title {
        top: -374px !important;
    }
    #header-sroll .logo a.siteLogo{}
    .head-title .page-name h1{
        font-size: 40px;
    }
    .header.comum #header-sroll.small .head-title .page-name #breadcrumbs{
        top: 56px;
        margin: 0 0 13px 0;
        z-index: 10;
    }
    #header-sroll .hamburger-menu{       
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-transition-delay: .36s;
        transition-delay: .36s;        
    }
    #header-sroll.small .hamburger-menu{        
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        right: -246px;
        top: 6px;
    }
}
@media(max-width: 767px){  
    .header.comum #header-sroll .head-title .page-name{
        padding: 280px 0 0 0;
    }      
    .header.comum #header-sroll.small .head-title {
        top: -365px !important;
    }
    .head-title .page-name h1{
        font-size: 35px;
    }
    .header.comum #header-sroll.small .head-title .page-name #breadcrumbs{
        top: -23px;        
    }
    #header-sroll .hamburger-menu{
        -webkit-transition-delay: 0s;
        transition-delay: 0s;        
    }
    #header-sroll.small .hamburger-menu{
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        right: 40px;
        top: 9px;
    }
    #theSeg,
    #segdesk{
        display: none;
    }  
    #segmobi,
    #theSegResp{
        display: block;
    }
    .meni-seg #theSegResp{
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        position: relative;
        width: 100%;
        float: none;
        display: block;
        overflow: hidden;
        height: 0px;
    }
    .meni-seg #theSegResp.hiddnow{  
        visibility: hidden;
        opacity: 0;
    }
    .meni-seg #theSegResp.shownow{
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        background-color: #0072BC; 
        visibility: visible;
        opacity: 1;
        height: 324px;
    }
    #header-sroll.small #theSegResp{
        top: -226px;
        height: 541%;
    }
    .meni-seg #theSegResp ul{
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        position: relative;
        display: table;
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
        height: 100%;
    }
    .meni-seg #theSegResp.hiddnow ul{
        top: -50px;
    }
    .meni-seg #theSegResp.shownow ul{
        top: 0;
    }
    .meni-seg #theSegResp ul li{
        float: left;
        width: 100%;
        list-style: none;
        position: relative;
    }
    .meni-seg #theSegResp ul li a{
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        color: #FFF;
        padding: 8px 8px 8px 40px;
        display: table;
        width: 100%;
        text-transform: uppercase;
        font-size: 14px;
    }
    .meni-seg #theSegResp ul li a:hover{
        background-color: rgba(0, 0, 0, 0.42);
    }
}
@media(max-width: 534px){
    .logo {
        width: 95px !important;
    }      
    .header.comum #header-sroll.small .head-title {
        top: -361px !important;
    }
    #header-sroll.small .logo a.siteLogo{
        width: 80px !important;
    }
    .header.comum #header-sroll .head-title{
        top: -130px;
    }
    .header.comum #header-sroll .head-title .page-name{
        padding: 350px 0 0 0;        
    }
    #header-sroll.small .hamburger-menu{}
    #header-sroll #theSegResp{
        top: -131px;
    }
    #header-sroll.small #theSegResp{
        top: -226px;
        height: 600%;
    }
}
@media(max-width: 481px){
    .header.comum #header-sroll .head-title{
        top: -131px;
    }      
    .header.comum #header-sroll.small .head-title {
        top: -359px !important;
    }
    .header.comum #header-sroll .head-title .page-name{
        padding: 280px 0 0 0;
    }
}
@media(max-width: 462px){      
    .header.comum #header-sroll.small .head-title {
        top: -405px !important;
    }      
}
@media(max-width: 361px){      
    .header.comum #header-sroll.small .head-title {
        top: -378px !important;
    }
}