#header-sroll .navbar-default .navbar-brand.active,
#header-sroll .navbar-default .navbar-brand:active,
#header-sroll .navbar-default .navbar-brand:focus,
#header-sroll .navbar-default .navbar-brand:hover {
    color: #fec503
}
#header-sroll .navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}
#header-sroll .navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136
}
#header-sroll .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}
#header-sroll .navbar-default .navbar-toggle:focus,
#header-sroll .navbar-default .navbar-toggle:hover {
    background-color: #fed136
}
#header-sroll .navbar-nav>li {
    font-size: .938em;
    font-family: ralewaybold
}
.nav>li>a {
    color: #fff;
    padding: 10px;
}
.nav>li>a:hover {
    background: rgba(255, 255, 255, .6)
}
.top-nav-collapse .nav>li>a:hover {
    background: rgba(221, 221, 221, 1)
}
.top-nav-collapse .menuHome {
    margin-top: 5px
}
.top-nav-collapse .foneRede {
    display: none
}
.top-nav-collapse a.logomarca,
a.logomarca {
    display: block;
    float: none;
    margin-top: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}
.navbar-default .nav li a {
    letter-spacing: 1px;
    color: #fff
}
.navbar-default .nav li a:focus,
.navbar-default .nav li a:hover {
    outline: 0;
    color: #fed136
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136
}
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #fec503
}



.cd-header-buttons,
.cd-header-buttons li {
    display: inline-block
}
#header-sroll .cd-header-buttons {
    bottom: 0;
    height: 44px;
    cursor: pointer;
    position: relative;
    float: right;
    margin: 22px 0 0 0;
    padding: 0 0 0 11px;
}
#header-sroll.small .cd-header-buttons{
    margin: 9px 0 0 0;
}
.cd-nav-trigger,
.cd-search-trigger {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    color: transparent;
    z-index: 3;
    text-indent: 100%
}
.cd-search-trigger::after,
.cd-search-trigger::before {
    content: '';
    position: absolute;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.cd-search-trigger::before {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid #FFF
}
.cd-main-header.small .cd-search-trigger::before {
    border: 3px solid #333
}
.cd-search-trigger::after {
    height: 3px;
    width: 8px;
    background: #FFF;
    bottom: 14px;
    right: 11px;
    transform: rotate(45deg)
}
.cd-main-header.small .cd-search-trigger::after {
    background: #333
}
.cd-search-trigger span {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0
}
.cd-search-trigger span::after,
.cd-search-trigger span::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 22px;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -11px;
    background: #FFF;
    opacity: 0;
    transform: translateZ(0);
    backface-visibility: hidden
}
.cd-main-header.small .cd-search-trigger span::after,
.cd-main-header.small .cd-search-trigger span::before {
    background: #333
}
.cd-search-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}
.cd-search-trigger span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.cd-search-trigger.search-is-visible::after,
.cd-search-trigger.search-is-visible::before {
    opacity: 0
}
.cd-search-trigger.search-is-visible span::after,
.cd-search-trigger.search-is-visible span::before {
    opacity: 1
}
.cd-search-trigger.search-is-visible span::before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg)
}
.cd-search-trigger.search-is-visible span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}
.cd-nav-trigger span,
.cd-nav-trigger span::after,
.cd-nav-trigger span::before {
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #FFF
}
.cd-main-header.small .cd-nav-trigger span,
.cd-main-header.small .cd-nav-trigger span::after,
.cd-main-header.small .cd-nav-trigger span::before {
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #2e3233
}
.cd-nav-trigger span {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2px;
    -webkit-transition: background .3s .3s;
    -moz-transition: background .3s .3s;
    transition: background .3s .3s
}
.cd-nav-trigger span::after,
.cd-nav-trigger span::before {
    content: '';
    right: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: -webkit-transform .3s .3s;
    -moz-transition: -moz-transform .3s .3s;
    transition: transform .3s .3s
}
.cd-nav-trigger span::before {
    top: -6px
}
.cd-nav-trigger span::after {
    top: 6px
}
.cd-main-header.small .cd-nav-trigger.nav-is-visible span,
.cd-nav-trigger.nav-is-visible span {
    background: rgba(46, 50, 51, 0)
}
.cd-nav-trigger.nav-is-visible span::after,
.cd-nav-trigger.nav-is-visible span::before {
    background: #FFF
}

.cd-main-header.small .cd-nav-trigger.nav-is-visible span::after,
.cd-main-header.small .cd-nav-trigger.nav-is-visible span::before {
    background: #2e3233
}
.cd-nav-trigger.nav-is-visible span::before {
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
    transform: translateX(4px) translateY(-3px) rotate(45deg)
}
.cd-nav-trigger.nav-is-visible span::after {
    -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
    transform: translateX(4px) translateY(2px) rotate(-45deg)
}
.cd-primary-nav,
.cd-primary-nav ul {
    list-style: none;
    position: fixed;
    top: 90px !important;
    height: 100%;
    width: 260px;
    background: transparent;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    transform: translateZ(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
    right: 0;
}
#header-sroll.small .cd-primary-nav,
#header-sroll.small .cd-primary-nav ul{
    top: 62px !important;
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item h3,
.cd-primary-nav .cd-nav-icons .cd-nav-item h3,
.cd-primary-nav a,
.cd-primary-nav ul a {
    overflow: hidden;
    text-overflow: ellipsis
}
.cd-primary-nav a,
.cd-primary-nav ul a {
    display: block;
    padding: 0 20px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: nowrap;
    width: 100%;
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform, opacity;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s
}
.cd-primary-nav ul.is-hidden,
.cd-primary-nav.is-hidden {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
}
.cd-primary-nav ul.moves-out>li>a,
.cd-primary-nav.moves-out>li>a {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0
}
.cd-primary-nav .see-all a {
    color: #FFF
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item,
.cd-primary-nav .cd-nav-icons .cd-nav-item {
    height: 80px;
    line-height: 80px
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item {
    padding-left: 90px
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item img {
    position: absolute;
    display: block;
    height: 40px;
    width: auto;
    left: 20px;
    top: 50%;
    margin-top: -20px
}
.cd-primary-nav .cd-nav-icons .cd-nav-item {
    padding-left: 75px
}
.cd-primary-nav .cd-nav-icons .cd-nav-item p {
    color: #2e3233;
    font-size: 1.3rem;
    display: none
}
.cd-primary-nav .cd-nav-icons .cd-nav-item::before {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-1::before {
    background-image: url(../img/line-icon-1.svg)
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-2::before {
    background-image: url(../img/line-icon-2.svg)
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-3::before {
    background-image: url(../img/line-icon-3.svg)
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-4::before {
    background-image: url(../img/line-icon-4.svg)
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-5::before {
    background-image: url(../img/line-icon-5.svg)
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-6::before {
    background-image: url(../img/line-icon-6.svg)
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-7::before {
    background-image: url(../img/line-icon-7.svg)
}
.cd-primary-nav .cd-nav-icons .cd-nav-item.item-8::before {
    background-image: url(../img/line-icon-8.svg)
}
.go-back a,
.menu-item-has-children>a {
    position: relative
}
.go-back a::after,
.go-back a::before,
.menu-item-has-children>a::after,
.menu-item-has-children>a::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    height: 2px;
    width: 10px;
    background: #464c4e;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.go-back a::before,
.menu-item-has-children>a::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}
.go-back a::after,
.menu-item-has-children>a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.menu-item-has-children>a {
    padding-right: 40px
}
.menu-item-has-children>a::after,
.menu-item-has-children>a::before {
    right: 20px;
    -webkit-transition: all .3s, -webkit-transform .3s;
    -moz-transition: all .3s, -moz-transform .3s;
    transition: all .3s, transform .3s;
    -webkit-transform-origin: 9px 50%;
    -moz-transform-origin: 9px 50%;
    -ms-transform-origin: 9px 50%;
    -o-transform-origin: 9px 50%;
    transform-origin: 9px 50%
}
.cd-primary-nav .go-back a {
    padding-left: 40px
}
.cd-primary-nav .go-back a::after,
.cd-primary-nav .go-back a::before {
    left: 20px;
    -webkit-transform-origin: 1px 50%;
    -moz-transform-origin: 1px 50%;
    -ms-transform-origin: 1px 50%;
    -o-transform-origin: 1px 50%;
    transform-origin: 1px 50%
}


/* MEDIA QUERIES */
@media (max-width:1170px) {
    #header-sroll .responsive-menu{
        position: fixed;
        float: right;
        height: 100%;
        width: 260px;
        left: 100%;
        display: block !important;
        top: 0vh;
        z-index: 99;
    }
    #header-sroll .the-menu{
        visibility: visible;
        opacity: 1;
        position: absolute;
        height: 100%;
        display: block;
        float: left;
        width: 100%;
        left: 0%;
    }
    #header-sroll .the-menu .menu-responsive-container{
        float: left;
        width: 100%;
        height: 100%;
        top: initial;
        position: absolute;
        
    }
    #header-sroll .the-menu .cd-primary-nav,
    #header-sroll .the-menu .cd-primary-nav ul{
        background: #333;
        padding: 0;
        right: initial;
        overflow: hidden;
        z-index: 10;
        top: 0 !important;
        position: absolute;
        width: 100%;
        float: left;
    }
    #header-sroll .the-menu .cd-primary-nav li{
        height: auto;
        float: left;width: 100%;

    }
    #header-sroll .the-menu ul li a{
        padding: 12px 12px 12px 35px !important;

    }
}
@media only screen and (min-width:1170px) {
    #header-sroll .cd-primary-nav ul.sub-menu{
        position: absolute;
        opacity: 0;
        padding: 0;
        visibility: hidden;
        z-index: 3;
        -webkit-box-shadow: 1px 2px 2px 0px rgba(50, 50, 50, 0.50);
        -moz-box-shadow: 1px 2px 2px 0px rgba(50, 50, 50, 0.50);
        display: table;
        box-shadow: 1px 2px 2px 0px rgba(50, 50, 50, 0.50);
    }
    #header-sroll .cd-primary-nav ul.sub-menu li{
        text-align: left;
        width: 100%;    
        position: relative;
        display: table;
    }
    #header-sroll .cd-primary-nav ul.sub-menu.shownow{
        opacity: 1;
        visibility: visible;
    }
    #header-sroll .cd-primary-nav ul a {
        background-color: rgba(5, 127, 172, .9);
        font-size: 14px;
        padding: 10px 65px 10px 25px!important;
    }
    #header-sroll .cd-primary-nav ul a:hover,
    #header-sroll .cd-primary-nav ul a.selected {
        background-color: rgba(4, 72, 97, .9) !important;
    }
    #header-sroll.small .cd-primary-nav ul a {
        background-color: #FFFFFF;
        color: #0072BC;
    }
    #header-sroll.small .cd-primary-nav ul a:hover,
    #header-sroll.small .cd-primary-nav ul a.selected{
        background-color: #0072BC !important;
        color: #FFF !important;
        opacity: 1;
    }


    #header-sroll .cd-primary-nav ul.sub-menu li.menu-item-has-children > a{
        float: left !important;
    }
    #header-sroll .cd-primary-nav ul.sub-menu li.menu-item-has-children > a:hover:after,
    #header-sroll .cd-primary-nav ul.sub-menu li.menu-item-has-children > a.selected:after{
        -ms-transform: rotate(42deg);
        -webkit-transform: rotate(42deg);
        transform: rotate(42deg);
    }
    #header-sroll .cd-primary-nav ul.sub-menu li.menu-item-has-children > a:hover:before,
    #header-sroll .cd-primary-nav ul.sub-menu li.menu-item-has-children > a.selected:before{
        -ms-transform: rotate(142deg); 
        -webkit-transform: rotate(142deg); 
        transform: rotate(142deg);    
    }
    #header-sroll .cd-primary-nav ul.sub-menu li.menu-item-has-children ul.sub-menu{
        float: left;
        position: absolute;
        display: table;
        top: 0 !important;
        left: 100%;
    }
    .go-back a::after,
    .go-back a::before,
    .menu-item-has-children>a::after,
    .menu-item-has-children>a::before {
        background: #c9cbc4
    }
    .go-back a:hover::after,
    .go-back a:hover::before,
    .menu-item-has-children>a:hover::after,
    .menu-item-has-children>a:hover::before {
        background: #FFF
    }
    .menu-item-has-children>a::after,
    .menu-item-has-children>a::before {
        right: 10%
    }
    .cd-primary-nav>.menu-item-has-children>a {
        padding-right: 30px!important
    }
    .cd-primary-nav>.menu-item-has-children>a::after,
    .cd-primary-nav>.menu-item-has-children>a::before {
        width: 9px;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background: #c9cbc4;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .cd-main-header.small .cd-primary-nav>.menu-item-has-children>a:hover::after,
    .cd-main-header.small .cd-primary-nav>.menu-item-has-children>a:hover::before {
        background: #F9E9DB;
    }
    .cd-primary-nav>.menu-item-has-children>a::before {
        right: 12px;
    }
    .cd-primary-nav>.menu-item-has-children>a::after {
        right: 7px;
    }
    .cd-primary-nav>.menu-item-has-children>a.selected::after,
    .cd-primary-nav>.menu-item-has-children>a.selected::before {
        width: 14px;
    }
    .cd-primary-nav>.menu-item-has-children>a.selected::before {
        -webkit-transform: translateX(5px) rotate(-45deg);
        -moz-transform: translateX(5px) rotate(-45deg);
        -ms-transform: translateX(5px) rotate(-45deg);
        -o-transform: translateX(5px) rotate(-45deg);
        transform: translateX(5px) rotate(-45deg);
    }
    .cd-primary-nav>.menu-item-has-children>a.selected::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .cd-secondary-nav>.menu-item-has-children>a::after,
    .cd-secondary-nav>.menu-item-has-children>a::before {
        display: none;
    }
    .cd-primary-nav .go-back a {
        padding-left: 20px;
    }
    .cd-primary-nav .go-back a::after,
    .cd-primary-nav .go-back a::before {
        left: 1px;
    }
}
@media (max-width:1023px) {
    .navbar-collapse {
        width: 100%;
    }
}
@media (max-width:990px) {
    .navbar-collapse {
        float: left !important;
    }
    .headerFull img {
        max-width: auto !important;
    }
    .navbar-right {
        margin-right: 0;
    }
    .navbar-header {
        margin-left: 4px !important;
    }
}
@media(max-width:767px) {
    .navbar {
        background: rgba(255, 255, 255, .9);
        padding: 0;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 679px;
    }
    .nav>li>a {
        color: #444;
        padding: 15px;
    }
    .header .navbar-nav>li {
        font-size: 1em;
    }
}
@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
    }
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
    }
    .top-nav-collapse {
        padding: 0;
        background-color: #fff;
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid #ddd;
    }
}
@media only screen and (max-width:1169px) {
    .cd-main-content,
    .cd-main-header {
        -webkit-transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        -ms-transition: all .35s ease-in-out;
        -o-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out;        
    }
    .cd-main-content.nav-is-visible,
    .cd-main-header.nav-is-visible {
        -webkit-transition: all .38s ease-in-out;
        -moz-transition: all .38s ease-in-out;
        -ms-transition: all .38s ease-in-out;
        -o-transition: all .38s ease-in-out;
        transition: all .38s ease-in-out;
        -webkit-transform: translateX(-260px);
        -moz-transform: translateX(-260px);
        -ms-transform: translateX(-260px);
        -o-transform: translateX(-260px);
    }
    .nav-on-left .cd-main-content.nav-is-visible,
    .nav-on-left .cd-main-header.nav-is-visible {
        -webkit-transform: translateX(260px);
        -moz-transform: translateX(260px);
        -ms-transform: translateX(260px);
        -o-transform: translateX(260px);
        transform: translateX(260px);
    }
    .nav-on-left .cd-logo {
        left: auto;
        right: 5%;
    }
}
@media only screen and (min-width:1170px) {
    .cd-logo {
        left: 4em;
    }
}
@media only screen and (max-width:1169px) {
    .nav-on-left .cd-header-buttons {
        right: auto;
        left: 5%
    }
    .nav-on-left .cd-header-buttons li {
        float: right
    }
    .cd-main-header.small .cd-logo {
        top: 17px
    }
    .cd-main-header.small .cd-logo .logo-matrix {
        width: 152px;
        height: 24px
    }
}
@media only screen and (min-width:1170px) {
    .cd-header-buttons {
        top: 18px;
        right: 4em;
    }
}
@media only screen and (min-width:1170px) {
    .cd-nav-trigger{
        display: none;
    }
}
@media only screen and (max-width:1169px) {
    .nav-on-left .cd-primary-nav,
    .nav-on-left .cd-primary-nav ul {
        right: auto;
        left: 0;
    }
}
@media only screen and (max-width:1169px) {
    .cd-primary-nav {
        visibility: hidden;
        -webkit-transition: visibility 0s .3s;
        -moz-transition: visibility 0s .3s;
        transition: visibility 0s .3s;
    }
    .cd-primary-nav.nav-is-visible {
        visibility: visible;
        -webkit-transition: visibility 0s 0s;
        -moz-transition: visibility 0s 0s;
        transition: visibility 0s 0s;
    }
}
@media only screen and (min-width:1170px) {
    .cd-primary-nav,
    .cd-primary-nav ul {
        height: auto;
        width: auto;
        overflow: visible;
    }
    .cd-primary-nav {
        position: static;
        float: right;
        background: 0 0;
        list-style: none;
        text-transform: uppercase;
        padding: 0;
    }
    .cd-primary-nav::after {
        clear: both;
        content: '';
        display: table;
    }
    .cd-primary-nav.moves-out>li>a {
        transform: translateX(0);
        opacity: 1;
    }
    .cd-primary-nav ul.is-hidden,
    .cd-primary-nav.moves-out>li>a {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .cd-primary-nav ul {
        z-index: 3;
        padding: 0;
        top: auto;
        right: auto;
    }
    .cd-main-header.small .cd-primary-nav ul {
        background: rgba(51, 51, 51, .7);
    }
    .cd-primary-nav ul li:hover {
        opacity: 1;
    }
    .cd-primary-nav ul.is-hidden {
        transform: translateX(0)
    }
    .cd-primary-nav ul.moves-out>li>a {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .cd-primary-nav>li {
        float: left;
    }
    .cd-main-header.small .cd-primary-nav>li>a {
        color: #333;
    }
    .cd-primary-nav>li>a:hover {
        background: rgba(255, 255, 255, .17)
    }
    .cd-main-header.small .cd-primary-nav>li>a:hover {
        background: #ea9c47;
        color: #FFF;
    }
    .cd-primary-nav .go-back,
    .cd-primary-nav .see-all {
        display: none !important;
        z-index: 100;
    }
    .cd-primary-nav .cd-nav-gallery,
    .cd-primary-nav .cd-nav-icons,
    .cd-primary-nav .cd-secondary-nav {
        position: absolute;
        top: 80px;
        width: 100vw;
        background: #fff;
        padding: 48px 64px 130px;
        box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, .05);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .cd-primary-nav .cd-nav-gallery::after,
    .cd-primary-nav .cd-nav-icons::after,
    .cd-primary-nav .cd-secondary-nav::after {
        clear: both;
        content: '';
        display: table;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item p,
    .cd-primary-nav .cd-secondary-nav ul ul .go-back,
    .cd-primary-nav .cd-secondary-nav ul ul .see-all {
        display: block;
    }
    .cd-primary-nav .cd-nav-gallery.is-hidden,
    .cd-primary-nav .cd-nav-icons.is-hidden,
    .cd-primary-nav .cd-secondary-nav.is-hidden,
    .cd-primary-nav .sub-menu.is-hidden {
        opacity: 0;
        visibility: hidden;
    }
    .cd-primary-nav .cd-nav-gallery>.see-all,
    .cd-primary-nav .cd-nav-icons>.see-all,
    .cd-primary-nav .cd-secondary-nav>.see-all {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 80px;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .cd-primary-nav .cd-nav-gallery>.see-all a,
    .cd-primary-nav .cd-nav-icons>.see-all a,
    .cd-primary-nav .cd-secondary-nav>.see-all a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
        line-height: 80px;
        border-top: 1px solid #e2e3df;
        border-bottom: none;
        margin: 0;
        padding: 0;
    }
    .cd-primary-nav .cd-nav-gallery>.see-all a:hover,
    .cd-primary-nav .cd-nav-icons>.see-all a:hover,
    .cd-primary-nav .cd-secondary-nav>.see-all a:hover {
        background: #2e3233;
        border-color: #2e3233;
        color: #fff;
    }
    .cd-primary-nav .cd-secondary-nav>li {
        height: 340px;
        width: 23%;
        float: left;
        margin-right: 2.66%;
        border-right: 1px solid #e2e3df;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .cd-primary-nav .cd-secondary-nav>li:nth-child(4n+2) {
        margin-right: 0;
        border-right: none;
    }
    .cd-primary-nav .cd-secondary-nav>li>a {
        color: #FFF;
        font-weight: 700;
        font-size: 1.6rem;
        margin-bottom: .6em
    }
    .cd-primary-nav .cd-secondary-nav a {
        height: 30px;
        line-height: 30px;
        padding: 0 18% 0 0;
        color: #2e3233;
        border-bottom: none;
        font-size: 1.4rem
    }
    .cd-primary-nav .cd-secondary-nav a:hover {
        color: #FFF
    }
    .cd-primary-nav .cd-secondary-nav ul {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0)
    }
    .cd-primary-nav .cd-secondary-nav ul ul {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%
    }
    .cd-primary-nav .cd-secondary-nav ul ul.is-hidden {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }
    .cd-primary-nav .cd-secondary-nav ul ul .go-back a {
        color: transparent
    }
    .cd-primary-nav .cd-secondary-nav .moves-out>li>a {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    .cd-primary-nav .cd-nav-gallery li {
        width: 22%;
        float: left;
        margin: 0 4% 40px 0
    }
    .cd-primary-nav .cd-nav-gallery li:nth-child(4n+2) {
        margin-right: 0
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item {
        border-bottom: none;
        padding: 0;
        height: auto;
        line-height: 1.2
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item img {
        position: static;
        margin-top: 0;
        height: auto;
        width: 100%;
        margin-bottom: .6em
    }
    .cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
        color: #FFF;
        font-weight: 700;
        padding: 0 .4em
    }
    .cd-primary-nav .cd-nav-icons li {
        width: 32%;
        float: left;
        margin: 0 2% 20px 0
    }
    .cd-primary-nav .cd-nav-icons li:nth-child(3n+2) {
        margin-right: 0
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item {
        border-bottom: none;
        height: 80px;
        line-height: 1.2;
        padding: 24px 0 0 85px;
        position: relative
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item:hover {
        background: #f6f6f5
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
        color: #FFF;
        font-weight: 700
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item::before {
        left: 25px
    }
}

a {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
}