@media print {
	.header,
	.primary,
	.know,
	.sobre .video-sobre,
	.siga .first .title h2:after,
	.slide-clients .owl-controls .owl-nav .owl-next,
	.slide-clients .owl-controls .owl-nav .owl-prev,
	.desafios .img-challeng,
	.fadeInUp,
	.head-blog,
	.sobre .video-sobre,
	.quality .image,
	.formulario,
	.mapa_visual,
	.contact-info .side,
	.outros-cases,
	.footer{
		display: none !important;
	}
	.sobre{
		padding: 30px 0 0 0 !important;
	}
	.pai{
		padding: 0;
	}
	.dados-case .blue{
		padding: 0;
	}
	.siga .first{
		padding: 0;
	}
	.siga .first .title h2 span{
		font-size: 22px;
	}
	.siga .first .desc{
		padding: 0;
	}
	.siga .first .image-siga img,
	.principais .image img,
	.solucoes-for .icono img{
		width: 200px !important;
		-webkit-filter: invert(0) !important;
    	filter: invert(0) !important;
		margin: 0 auto !important;
	}
	.siga .first .challenges{
		padding: 0;
	}
	.siga .second .benefits .one-benefit .hex,
	.beneficios .benefits .one-benefit .hex{
		display: none;
	}
	.siga .second .benefits ul,
	.beneficios .benefits ul{
		list-style: inherit;
	}
	.siga .second .benefits .one-benefit,
	.beneficios .benefits .one-benefit{
		width: 100%;
		float: left;
		height: auto;
		margin: 0;
	}
	.siga .second .benefits .one-benefit .legend,
	.beneficios .benefits .one-benefit .legend{
		width: 100%;
	}
	.siga .second .benefits .one-benefit .legend span,
	.beneficios .benefits .one-benefit .legend span{
		text-align: left;
	}
	.owl-carousel .owl-stage-outer{
		position: relative;
    	width: 100%;
    	float: left;
	}
	.owl-carousel .owl-stage {
	    position: relative;
	    -ms-touch-action: pan-Y;
	    width: 100vh !important;
	    float: none;
	    margin: 0;
	    display: inline;
	    height: auto;
	}
	.slide-clients .owl-item {
	    float: left;
	    width: 100%;
	    user-select: none;
	    tap-highlight-color: transparent;
	    touch-callout: none;
	    position: relative;
	    display: block;
	    margin: 0 7px 14px 7px !important;
	    border: 1px #EAEAEA solid;
	    padding: 20px;
	    height: 110px;
	    display: table;
	}
	.owl-carousel .owl-item {
	    user-select: none;
	    backface-visibility: hidden;
	    tap-highlight-color: transparent;
	    touch-callout: none;
	    overflow: hidden;
	    float: left;
	    min-height: 1px;
	    position: relative;
	    display: table;
	}
	.owl-carousel .owl-stage{
		width: 100%;
	}
	.other-solutions{
		padding: 0;
	}
	.other-solutions .one-solution .box{
		height: auto;
		padding: 0;	
	}
	.other-solutions .title{
		padding: 0;
	}
	.conteudo{
    	padding: 20px 0 0 0 !important;
	}
	.other-solutions .desc{
		padding: 0;
	}
	.other-solutions .one-solution .box .title h4{		
		margin: 10px 0 0 0;
	}
	.other-solutions .one-solution .box .preview p{	
		margin: 0;
	}
	.beneficios{
		padding: 10px 0 0 0;
	}
	.modulos .box-abs{
		margin: 0;
	}
	.itemmod{
		float: left;
		margin: 0;
	}
	.clientes{
		padding: 0;
	}
	.modulos{
		padding: 0;
	}
	.more-about .image{
		padding: 10px 0 0 0;
	}
	.hideContent{
		display: block !important;
	}
	.da-solution{
		padding: 0;
	}
	.solucoes-for .uma-solut{
		padding: 0;
	}
	.da-solution .box ul li .image img,	
	.da-solution .box ul li .image img,
	.solucoes-for .bene .os-bene .benefits ul li .imagi img{
		-webkit-filter: invert(0) !important;
    	filter: invert(0) !important;
	}
	.sobre .history{
		padding: 0;
	}
	.values{
		margin: 0;
	}
	.time-in-line{
		padding: 0;
	}
	.quality{
		padding: 0;
	}
	.partnerships{
		padding: 0;
	}
	.partnerships .parceiros .box{
		width: 100%;
		float: left;
	}
	.partnerships .parceiros .box .parceiro{
		float: left;
		width: 100px;
		margin:  0 9px 18px 9px;
	}
	.iteminfo{
		text-align: left;
		position: relative;
		padding: 0 0 0 0 !important;
		width: 100% !important;
		float: left;
	}
	.unidades{	
		margin: 0 !important;
	}
	.other-solutions .col-xs-12{
		display: block;
		animation-duration: 0;
		animation: none !important;
		display: block !important;
	}
	a[href]:after {
	    content: '' !important;
	}

	h1{ font-size: 24px !important;	}
	h2{ font-size: 22px !important; }
	h3{ font-size: 20px !important; }
	h4{ font-size: 18px !important; }
	p{ font-size: 12px !important; }
	h1, h2, h3, h4, p, ul, li{
		text-align: left !important;
	}
}
