/* ARCHIVE SEGMENTOS*/
.other-solutions{
    padding: 0 0 35px 0 !important;
}
.other-solutions .one-solution .box{
    position: relative;
}
.other-solutions .one-solution{
    margin-bottom: 30px;
    overflow: hidden;
}
.other-solutions .one-solution .box .title,
.other-solutions .one-solution .box .title *{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;    
}
.other-solutions .one-solution .box .title{
    position: absolute !important;
    bottom: 30px;
    display: inline;
    width: initial;
}
.other-solutions .one-solution:hover .box .title{
    bottom: 145px;    
}
.other-solutions .one-solution .box .title h3{
    font-size: 30px;
    display: inline;
}
.other-solutions .one-solution:hover .box .title h3{}
.other-solutions .one-solution .box .know{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute !important;
    width: initial;
    bottom: -51px;
    opacity: 0;
}
.other-solutions .one-solution:hover .box .know{
    bottom: 30px;
    opacity: 1;
}

/* SINGLE SEGMENTOS*/
.desafios{
    position: relative;
    width: 100%;
    float: left;
    z-index: 3;
}

/* DESAFIOS */
.desafios,
.desafios .linha,
.desafios .linha .desc,
.desafios .linha .challenges
.desafios .img-challeng{
    position: relative;
    width: 100%;
    float: left;
}
.desafios{
    padding: 0 0 50px 0;
    color: #333;
    z-index: 20;
}
.desafios .linha{
    padding: 0 20% 0 0;
    border-right: 1px solid #959595;
}
.desafios .desc{
    padding: 0 0 19px 0;
}
.desafios .challenges {
    padding: 15px 0 0 0;
}
.desafios .challenges h2{
    font-size: 30px;
}
.desafios .challenges ul{
    padding: 0 0 0 0px;
}
.desafios .challenges ul li{
    line-height: 27px;
    list-style: none;
}
.desafios .challenges ul li:before{
    content: '\E81D';
    font-family: "utilities";
    padding: 0 8px 0 0px;
}
.desafios .know{
    margin: 30px 0 0 0;
    border-color: #ed7c03;
}
.desafios .know a{
    background-color: #F17F04;
    color: #FFF;
    border-color: #F17F04;
}
.desafios .know a:hover{
    color: #F17F04;
    border-color: #F17F04;
}
.desafios .know a:hover:after{
    background-color: #FFF;
}
.desafios .img-challeng{
    padding: 0 0 0 15%;
    overflow: hidden;
}
.desafios .img-challeng img{
    width: 100%;
}

/* BACKGROUND FIXED */
.bgline {
    background-color: #0077B6;
    position: relative;
    width: 100%;
    float: left;
    z-index: 1;
    overflow: hidden;
}
.bgline .over {
    background-image: url('../img/backlines.png');
    position: fixed !important;
    width: 100%;
    background-size: cover;
    top: 0;
    height: 100% !important;
    z-index: 2;
}

.da-solution,
.da-solution .title,
.da-solution .box ul li .box .image,
.da-solution .box ul li .box .nome,
.solucoes-for,
.solucoes-for .sobre,
.solucoes-for .sobre .title,
.solucoes-for .sobre .desc
.solucoes-for .icono,
.solucoes-for .challenges,
.solucoes-for .uma-solut,
.solucoes-for .bene,
.solucoes-for .bene .os-bene,
.solucoes-for .bene .os-bene .title,
.solucoes-for .bene .os-bene .benefits ul li .imagi,
.solucoes-for .bene .os-bene .benefits ul li .legend{
    position: relative;
    width: 100%;
    float: left;
}
.da-solution{
    padding: 30px 0 50px;
    z-index: 3;
}
.da-solution .title{
    padding: 0 0 30px 0;
}
.da-solution .title h2{
    font-family: 'marine-regular';
    font-size: 38px;
    color: #FFF;
    text-align: center;
}
.da-solution .title h2 span{
    font-family: 'marine-bold';
}
.da-solution .box{
    margin: 0 auto;
    float: none;
    display: table;
    position: relative;
    text-align: center;
}
.da-solution .box ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.da-solution .box ul li{
    display: inline-table;
    margin: 0 0px 30px;
    width: 145px;
    top: 0;
    position: relative;
    height: 110px;
}
.da-solution .box ul li .image{
    height: 70px;  
}
.da-solution .box ul li .image img{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-filter: invert(100%);
    filter: invert(100%);    
    /* IE 6-7 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';
    position: relative;
    width: 70px;
    bottom: 0;
}
.da-solution .box ul li:hover .image img{
    bottom: 7px;
}
.da-solution .box ul li .nome {
    line-height: 20px;
    padding:10px 15px;
}
.da-solution .box ul li .nome a{
    color: #FFF;
    text-transform: capitalize;
}
.da-solution .box ul li:hover .nome a{
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}
.solucoes-for .uma-solut{
    padding: 50px 0
}
.solucoes-for .sobre{
    float: right;
    padding: 0;    
}
.solucoes-for .sobre .title:after {
    content: '';
    background-color: #666;
    position: absolute;
    width: 100px;
    height: 1px;
    right: 0;
}
.solucoes-for .sobre .title h2{
    font-size: 45px;
    text-align: right;
    margin-bottom: 0;    
    font-family: 'marine-regular';
}
.solucoes-for .sobre .desc{
    width: 70%;
    float: right;
    padding: 15px 0 0 0;    
}
.solucoes-for .sobre .desc p{
    text-align: right;
    font-size: 15px;
}
.solucoes-for .sobre .know{
    float: right;
    margin: 25px 0 0 0;
    border-color: #ed7c03;    
}
.solucoes-for .sobre .know a{
    background-color: #ed7c03;
    color: #FFF;
    border-color: #ed7c03;
}
.solucoes-for .sobre .know a:hover{
    color: #ed7c03;
}
.solucoes-for .icono img{
    width: 346px;
    margin: 15px auto 0;
    float: none;
    display: table;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.6;
}
.solucoes-for .challenges {
    padding: 40px 0 0 0
}
.solucoes-for .challenges h3{
    margin-top: 0;
}
.solucoes-for .challenges ul{
    padding: 0 0 0 0px;
}
.solucoes-for .challenges li{
    line-height: 26px;
    list-style: none;
}
.solucoes-for .challenges li:before{
    content: '\E81D';
    font-family: 'utilities';
    padding: 0 8px 0 0px;
}
.solucoes-for .uma-solut{
    background-color: #FFF;
    z-index: 3;
}
.solucoes-for .bene h3{
    font-family: 'marine-regular';
    color: #FFF;
    text-align: center;
    font-size: 38px;
}
.solucoes-for .bene h3 span{
    font-family: 'marine-bold';
}
.solucoes-for .bene .overlayer{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
}
.solucoes-for .bene .overlayer.blue{
    background-color: transparent;
}
.solucoes-for .bene .overlayer.orange{
    background-color: #ed7c03;
}
.solucoes-for .bene .os-bene{
    z-index: 3;
    padding: 50px 0;
}
.solucoes-for .bene .os-bene .benefits{
    margin: 0 auto;
    float: none;
    display: table;
    position: relative;
    text-align: center;
    padding: 35px 0 0 0;
}
.solucoes-for .bene .os-bene .benefits ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.solucoes-for .bene .os-bene .benefits ul li{
    display: inline-block;
    margin: 0 0px 30px;
    width: 145px;
    top: 0;
    position: relative;
    height: 110px;    
} 
.solucoes-for .bene .os-bene .benefits ul li .imagi{
    height: 60px;
}
.solucoes-for .bene .os-bene .benefits ul li .imagi img{
    width: 50px;
    -webkit-filter: invert(100%);
    filter: invert(100%);    
    /* IE 6-7 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';
}
.solucoes-for .bene .os-bene .benefits ul li .legend span{
    color: #FFF;
}
.solucoes-for .bene .os-bene .know{
    margin: 40px auto 0;
    border-color: #0077B6;        
}
.solucoes-for .bene .os-bene .know a{
    float: none;
}
.solucoes-for .bene .overlayer.blue + .os-bene .know a{
    background-color: #ed7c03;
    color: #FFF;
    border-color: #ed7c03;
}
.solucoes-for .bene .overlayer.blue + .os-bene .know a:hover{
    color: #ed7c03;
}
.solucoes-for .bene .overlayer.orange + .os-bene .know a{
    background-color: #0077B6;
    color: #FFF;
}
.solucoes-for .bene .overlayer.orange + .os-bene .know a:hover{
    color: #0077B6;
}
.footer{
    z-index: 20;
}

/* MEDIA QUERIES */
@media (max-width: 1199px) {}
@media (max-width: 991px) {
    .desafios .img-challeng{
        padding: 25% 0 0 10%;
    }
}
@media (max-width: 767px) {
    .solucoes-for .sobre{
        float: left;
    }
    .desafios .linha{
        padding: 0;
        border: none;
    }
    .desafios .know{
        margin: 0 auto;
    }
    .desafios .img-challeng{
        padding: 50px 0 0 0;
    }
    .solucoes-for .icono img{
        margin: 40px auto 0;
    }
    .desafios .img-challeng img{
        width: 80%;
        float: none;
        margin: 0 auto;
        display: table;
    }
    .solucoes-for .sobre .title h2{
        text-align: center;
    }
    .solucoes-for .sobre .title:after{
        display: none;
    }
    .solucoes-for .sobre .desc{
        width: 100%;
        float: left;
    }
    .solucoes-for .sobre .desc p{
        text-align: center;
    }
    .solucoes-for .sobre .know a{
        float: none;
    }
    .solucoes-for .sobre .know{
        margin: 28px auto 0;
        float: none;
        top: 23px;
        position: relative;
        display: table;
    }
}
@media (max-width: 481px) {
    .desafios .img-challeng img{
        width: 100%;
    }
}