.back-responsive,
.fallback{
    background-image: url('../img/diagonal-back.png');
    background-position: 50% 0%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
    width: 100%;
    top: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide {
    background-color: rgba(12, 47, 65, .8);
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
    height: calc(100vh - 136px);
}
.fallback {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}
.slide .overlay {
    width: 100%;
    display: block;
    background-color: rgba(12, 47, 65, .8);
    float: left;
    min-height: 100%;
    z-index: 2;
    position: absolute;
}
.item {
    width: 100%;
    background-size: cover!important;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    display: table;
    float: left;
    background-position: 50% 30%;
}
.item .titulo-slide {
    font-size: 41px;
    color: #fff;
    position: absolute;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .37);
    font-weight: 400;
    bottom: 34%;
    width: 100%;
    z-index: 100;
    text-transform: uppercase;
}
.item .titulo-slide+div {
    position: relative;
}
.item .titulo-slide h2 {
    line-height: 120%;
    font-size: 55px;
    color: #FFF;
    margin-bottom: 0;
}
.item .titulo-slide p{
    font-size: 30px;
    color: #FFF;
}
.item .titulo-slide .know {
    border-color: #f39635;
}
.item .titulo-slide .know a{
    color: #FFF;
    background-color: #F39635;
    text-shadow: none;
}
.item .titulo-slide .know:hover a{
    background-color: #FFF;
    color: #f39635;
    border-color: #FFF;
}
.item .titulo-slide .know:hover a:after{}
.item .titulo-slide a.btnplay{
    font-size: 110px;
    border: 16px solid #FFF;
    color: #fff;
    width: 200px;
    padding: 16px 19px 0 19px;
    float: right;
    text-decoration: none;
    height: 200px;
    border-radius: 50%;
    opacity: 1;
}
.item .titulo-slide a.btnplay:hover {
    opacity: .7;
    transform: scale(.8);
}
.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
    z-index: 0;
}
.owl-carousel .owl-animated-out {
    z-index: 1;
}
.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel {
    width: 100%;
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, .97);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
}
.owl-carousel .owl-controls .owl-dots {
    position: absolute;
    bottom: 80px;
    width: 100%;
    z-index: 10;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
    right: 5%;
    font-size: 48px;
    color: #FFF;
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
    font-size: 48px;
    color: #000;
    float: left;
    left: 80%;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel.owl-loading {
    display: block;
    opacity: 0;
}
.owl-carousel .owl-refresh .owl-item,
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}
.owl-carousel.owl-hidden {
    opacity: 0;
}
.owl-carousel .owl-item {
    user-select: none;
    backface-visibility: hidden;
    tap-highlight-color: transparent;
    touch-callout: none;
    overflow: hidden;
    float: left;
    min-height: 1px;
    position: relative;
    display: table;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}
.owl-carousel.owl-rtl {
    direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
    float: right;
}
.no-js .owl-carousel {
    display: block;
}
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}
.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3, 1.3);
    -moz-transition: scale(1.3, 1.3);
    -ms-transition: scale(1.3, 1.3);
    -o-transition: scale(1.3, 1.3);
    transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
}
.owl-theme .owl-controls {
    text-align: center;
}
.owl-theme .owl-controls .owl-nav[class*=owl-]:hover {
    text-decoration: none;
    color: #fff;
}
.owl-theme .owl-controls .owl-nav .disabled {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: .5;
    cursor: default;
}
.owl-theme .owl-dots .owl-dot {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: rgba(255, 255, 255, 0);
    display: block;
    border-radius: 3px;
    backface-visibility: visible;
    transition: opacity 200ms ease;
    border: 2px solid #FFF;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #FFF;
}

/*SEGMENTATION MENU SLIDE HOVER*/
.segmentation{
    position: relative;
    width: 100%;
    float: left;
    bottom: 0px;
}
.segmentation{
    border-bottom: 1px solid #527487;
    z-index: 3;
    background-color: #FFF;
}
.seg-mobile{
    width: 100%;
    float: left;
    position: relative;
    display: none;
    height: auto;
}
.segmentation ul{
    padding: 0;
    margin: 0 auto;
    display: table;
    border-left: 1px solid #527487;
    position: relative;
}
.segmentation ul:before{
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    text-transform: uppercase;
    content: 'Segmentos';
    position: absolute;
    color: #527487;
    left: -80px;
    font-size: 18px;
    top: 53px;
}
.segmentation ul li{
    float: left;
    list-style: none;
    display: block;
}
.segmentation ul li a{
    color: #666;
    padding: 20px 15px;
    width: 120px;
    float: left;
    text-align: center;
    z-index: 2;
    margin: 0 0px;
    height: 135px;
    display: block;
    position: relative;
}
.segmentation ul li a *{
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.segmentation ul li a .over{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}
.segmentation ul li a:hover .over{
    background-color: rgba(0, 114, 188, 0.49);
    opacity: 1;
}
.segmentation ul li a .icon{
    z-index: 2;
    position: relative;
}
.segmentation ul li .icon img{
    width: 45px;
    margin: 0 auto;
    float: none;
    display: table;
}
.segmentation ul li .the-segment{
    float: left;
    width: 100%;
    padding-top: 10px;
    position: relative;
    z-index: 2;

}
.segmentation ul li a .the-segment span{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #666;
}
.segmentation ul li a:hover .the-segment span{
    color: #FFF;
}



/* Big Triangle */
.img-svg {
    height: 0;
    position: relative;
}
svg#bigTriangleColor {
    position: absolute;
    pointer-events: none;
    background-color: rgba(255,255,255,0);
    bottom: -1px;
    z-index: 1;
    width: 101%;
    left: -6px;
    display: block;
}
#bigTriangleColor path {
    fill: rgba(245, 245, 245, 0.23);
    stroke: rgba(19, 18, 18, 0.2);
    stroke-width: 2;
    position: absolute;
    top: 50px;
    display: block;
}
/* SLIDE CLIENTES HOME */
.slide-clients{
    padding: 25px 0 0 0;
}
.slide-clients > * {
  vertical-align: middle;
}
.slide-clients .item {
    position: relative;
    white-space: nowrap;
    z-index: 2;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    opacity: 0.75;
    -moz-opacity: 0.75;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    image-rendering: auto;
    height: 100%;
    display: block;
    text-align: center;
}
.slide-clients .item:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.slide-clients .item img{
    max-height: 63px;
    width: auto;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
}
.slide-clients .item:hover {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    image-rendering: auto;
}
.slide-clients .owl-item {
    min-height: 1px;
    overflow: hidden;
    float: left;
    user-select: none;
    backface-visibility: hidden;
    tap-highlight-color: transparent;
    touch-callout: none;
    position: relative;
    display: block;
    border: 1px #EAEAEA solid;
    padding: 20px;
    height: 110px;
}
.slide-clients .owl-controls .owl-nav .owl-next,
.slide-clients .owl-controls .owl-nav .owl-prev {
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, .97);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
}
.slide-clients .owl-controls .owl-nav .owl-next {
    right: -6%;
    font-size: 35px;
    color: #057fac;
    top: 50%;
    margin-top: -13px;
}
.slide-clients .owl-controls .owl-nav .owl-prev {
    font-size: 35px;
    color: #057fac;
    float: left;
    left: -6%;
    top: 50%;
    margin-top: -13px;
}

/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){
}
@media (max-width: 1318px){
}
@media (max-width: 1199px){
    #header-sroll .segmentation ul li a .the-segment span{
        font-size: 13px;
    }
    .item .titulo-slide{
        bottom: 24%;
    }
    .item .titulo-slide a.btnplay{
        width: 100px;
        height: 100px;
        border: 10px solid #FFF;
        display: table;
        margin: 0 auto;
        float: none;
        font-size: 50px;
        padding: 9px 0 0 10px;
    }
    .item .titulo-slide a.btnplay i{
        padding: 0;
        position: relative;
    }
    .segmentation ul:before{
        left: -74px;
    }
    .segmentation ul li a{
        padding: 20px 5px;
        width: 101px;
    }
}
@media (max-width:1105px){}
@media (max-width:1024px){

    .item .titulo-slide {
        font-size: 23px;
        top: 35%;
    }
}
@media (max-width: 991px){
    .slide{
        height: calc(100vh - 108px) !important;
    }
    .segmentation ul:before {
        left: -62px;
        font-size: 14px;
        top: 44px;
    }
    .segmentation ul li a {
        width: 76px;
        height: 107px;
    }
    .segmentation ul li .icon img{
        width: 30px;
    }
    .segmentation ul li a .the-segment span{
        font-size: 10px !important;
    }
}
@media (max-width: 880px){}
@media (max-width: 810px){
    .slide-clients .owl-controls .owl-nav .owl-prev{
        left: 0%;
    }
    .slide-clients .owl-controls .owl-nav .owl-next{
        right: 0%;
    }
    .slide-clients .owl-controls .owl-nav .owl-prev i,
    .slide-clients .owl-controls .owl-nav .owl-next i{
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.48);
        border: 1px solid #000;
        border-radius: 50%;
        padding: 3px 0px;
        font-size: 25px;
    }
}
@media (max-width: 767px){
    .item .titulo-slide h2{
        font-size: 28px;
    }

    .slide .item,
    .slide{
        height: calc(100vh-70px);
    }
    .item .titulo-slide {
        font-size: 23px;
        top: 30%;
    }
    .seg-mobile{
        display: block;
        bottom: 0px;
        position: absolute;
    }
    .segmentation{
        border-bottom: none;
        z-index: 3;
        background-color: #272A30;
    }
    .segmentation ul{
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 481px){
    .item .titulo-slide h2{
        font-size:  28px;
        margin:  0 0 5px 0;
    }
    .item .titulo-slide{
        top:  19%;
    }
    .item .titulo-slide p{
        font-size:  17px;
    }
    .item .titulo-slide a.btnplay {
        width: 80px;
        height: 80px;
        border: 7px solid #FFF;
        margin: 25px auto 0;
        padding: 14px 0 0 13px;
        font-size: 30px;
    }
}