.header.comum #header-sroll .head-title{
	background-position: 50% 15%;	
}
.sobre{
	padding: 0 0 80px 0 !important;
}
.sobre .video-sobre{
    margin: 0 !important;
}
.sobre .history .title h2{
	margin-top: 0 !important;
}
.values,
.values .value,
.values .value .icon,
.values .value .legend,
.values .value .desc{
	position: relative;
	float: left;
	width: 100%;
}
.values{
	background-color: #F1F1F1;
	padding: 5px 0 30px 0;
	margin: 30px 0 0 0;
	z-index: 2;
}
.values .title-about{
	position: relative;
	width: 100%;
	float: left;
}
.values .title-about h2{
	text-align: center;
}
.values .col-xs-12:nth-child(2) .value .desc,
.values .col-xs-12:nth-child(3) .value .desc{
	padding: 0 18%;
}
.values .value .icon i{
	font-size: 100px;
	text-align: center;
	display: block;
	color: #666;
}
.values .value .legend h3{
	color: #666;
	text-align: center;
	margin: 0;
}
.values .value .desc ul{
	padding: 0
}
.values .value .desc p,
.values .value .desc ul li{
	text-align: center;
	list-style: none;
	color: #666;
}

/*BACKGROUND FIXED*/
.bgline {
    background-color: #0077B6;
    position: relative;
    width: 100%;
    float: left;
}
.bgline .over {
    background-image: url('../img/backlines.png');
    position: fixed;
    width: 100%;
    background-size: cover;
    top: 0;
    height: 100%;
}


/* TIME LINE */
.time-in-line,
.time-in-line .title{
	position: relative;
	float: left;
	width: 100%;
}
.time-in-line{
	background-color: #FFF;
	padding: 0 0 70px 0;
}
.time-in-line .title{
	padding: 75px 0 0 0;
}
.time-in-line .title h2{
	color: #666;
	text-align: center;
}
.cd-container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.cd-container::after {
	content: '';
	display: table;
	clear: both;
}
.time-in-line #cd-timeline{}
#cd-timeline {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
}
#cd-timeline::before {
	content: '';
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 2px;
	background: #d2d2d2;
}
@media only screen and (min-width: 1170px) {
	#cd-timeline {
		margin-top: 3em;
		margin-bottom: 3em;
	}
	#cd-timeline::before {
		left: 50%;
		margin-left: -2px;
	}
}
.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}
.cd-timeline-block::after {
	clear: both;
	content: '';
	display: table;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-block {
		margin: -59px 0;
	}
	.cd-timeline-block:first-child {
		margin-top: 0;
		margin: 0;
	}
	.cd-timeline-block:last-child {
		margin-bottom: 0;
	}
}
.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
}
.cd-timeline-img img {
	display: block;
	width: 22px;
	height: 24px;
	position: relative;
	left: 51%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
}
.cd-timeline-img.cd-picture {
	background: rgba(255,255,255,0);
}
.cd-timeline-img.cd-movie {
	background: rgba(255, 255, 255, 0);
}
.cd-timeline-img.cd-location {
	background: rgba(255, 255, 255, 0);
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-img {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;
		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}
	.cssanimations .cd-timeline-img.is-hidden {
		visibility: hidden;
	}
	.cssanimations .cd-timeline-img.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-1 0.6s;
		-moz-animation: cd-bounce-1 0.6s;
		animation: cd-bounce-1 0.6s;
	}
}
@-webkit-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-moz-transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-moz-transform: scale(1.2);
	}
	100% {
		-moz-transform: scale(1);
	}
}
@keyframes cd-bounce-1 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: #ffffff;
	border-radius: 0.25em;
	padding: 1em;
}
.cd-timeline-content::after {
	clear: both;
	content: '';
	display: table;
}
.cd-timeline-content h2 {
	color: #303e49;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
	font-size: 13px;
	font-size: 15px;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
	display: inline-block;
}
.cd-timeline-content p {
	margin: 0;
	line-height: 100%;
}
.cd-timeline-content .cd-read-more {
	float: right;
	padding: .8em 1em;
	background: #acb7c0;
	color: #ffffff;
	border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
	background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
	float: left;
	padding: .8em 0;
	opacity: .7;
}
.cd-timeline-content::before {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
}
.cd-timeline-block.left .cd-timeline-content .titulo,
.cd-timeline-block.right .cd-timeline-content .titulo{
	float: left;
	width: 100%;
}
.cd-timeline-block.left .cd-timeline-content .titulo .box{
	float: left;
}
.cd-timeline-block.left .cd-timeline-content .titulo .box.responsive{
	display: block;
}
.cd-timeline-block.right .cd-timeline-content .titulo .box{
	float: left;
}
.cd-timeline-block.left .cd-timeline-content .titulo h3,
.cd-timeline-block.right .cd-timeline-content .titulo h3{
	border: 1px solid;
	font-size: 18px;
	border-radius: 6px;
	border: 1px solid #EEE;
	margin: 0;
	padding: 8px;
	line-height: 100%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
}
.cd-timeline-block.left .cd-timeline-content .titulo h3{
	float: left;	
}
.cd-timeline-block.right .cd-timeline-content .titulo h3{
	float: right;
}
.cd-timeline-block.left .cd-timeline-content .titulo span,
.cd-timeline-block.right .cd-timeline-content .titulo span{
	float: left;
	background-color: #20b8dc;
	padding: 4px 8px;
	display: block;
	color: #FFF;
	margin: 4px 0 0 0;
}
.cd-timeline-block.left .cd-timeline-content .titulo span{
	float: left;
}
.cd-timeline-block.right .cd-timeline-content .titulo span{
	float: left;
}
.cd-timeline-block.left .cd-timeline-content .desc,
.cd-timeline-block.right .cd-timeline-content .desc {
	width: 90%;
	padding: 18px;
	margin: 15px 0 0 0px;
	border: 1px solid #EEE;
	border-radius: 6px;
	float: left;
}
.cd-timeline-block.right .cd-timeline-content .desc h4,
.cd-timeline-block.left .cd-timeline-content .desc h4{
	font-size: 24px;
	margin: 20px 0 10px;
	color: #444;
}
.cd-timeline-block.left .cd-timeline-content .desc{
	text-align: left;
}
.cd-timeline-block.right .cd-timeline-content .desc {
	text-align: left;
	float: left;
}

.cd-timeline-block.left .cd-timeline-content .titulo .box.some{
	display: none;
}
@media only screen and (min-width: 768px) {
	.cd-timeline-content h2 {
		font-size: 20px;
		font-size: 1.25rem;
	}
	.cd-timeline-content p {
		font-size: 15px;
		line-height: 23px;
	}
	.cd-timeline-content .cd-read-more,
	.cd-timeline-content .cd-date {
		font-size: 14px;
		font-size: 0.875rem;
	}
}
@media only screen and (min-width: 1170px) {
	.cd-timeline-content {
		margin-left: 0;
		width: 45%;
	}
	.cd-timeline-block.left .cd-timeline-content{
		padding: 1em 0 0 1.6em;
	}
	.cd-timeline-block.right .cd-timeline-content{
		padding: 1em 1.6em 0 0;
	}
	.cd-timeline-content::before {
		top: 24px;
		left: 100%;
		border-color: transparent;
		border-left-color: #fff;
	}
	.cd-timeline-content .cd-read-more {
		float: left;
	}
	.cd-timeline-content .cd-date {
		position: absolute;
		width: 100%;
		left: 122%;
		top: 6px;
		font-size: 16px;
		font-size: 1rem;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content {
		float: right;
		z-index: 3;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
		top: 24px;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: #fff;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
		float: right;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
		left: auto;
		right: 122%;
		text-align: right;
	}
	.cssanimations .cd-timeline-content.is-hidden {
		visibility: hidden;
	}
	.cssanimations .cd-timeline-content.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-2 0.6s;
		-moz-animation: cd-bounce-2 0.6s;
		animation: cd-bounce-2 0.6s;
		z-index: 10;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo,
	.cd-timeline-block.right .cd-timeline-content .titulo{
		float: left;
		width: 100%;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo .box{
		float: right;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo .box.responsive{
		display: none;
	}
	.cd-timeline-block.right .cd-timeline-content .titulo .box{
		float: left;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo h3,
	.cd-timeline-block.right .cd-timeline-content .titulo h3{
		border: 1px solid;
		font-size: 18px;
		border-radius: 6px;
		border: 1px solid #EEE;
		margin: 0;
		padding: 8px;
		line-height: 100%;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.cd-timeline-block.left .cd-timeline-content .titulo h3{
		float: left;	
	}
	.cd-timeline-block.right .cd-timeline-content .titulo h3{
		float: right;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo span,
	.cd-timeline-block.right .cd-timeline-content .titulo span{
		float: left;
		background-color: #20b8dc;
		padding: 4px 8px;
		display: block;
		color: #FFF;
		margin: 4px 0 0 0;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo span{
		float: left;
		
	}
	.cd-timeline-block.right .cd-timeline-content .titulo span{
		float: left;

	}
	.cd-timeline-block.left .cd-timeline-content .desc,
	.cd-timeline-block.right .cd-timeline-content .desc {
		width: 90%;
		padding: 0px 18px 18px;
		margin: 15px 0 0 0px;
		border: 1px solid #EEE;
		border-radius: 6px;
		float: left;
	}
	.cd-timeline-block.left .cd-timeline-content .desc{
		text-align: right;
	}
	.cd-timeline-block.right .cd-timeline-content .desc {
		text-align: left;
		float: right;
	}
}
@media only screen and (min-width: 1170px) {
	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
		-webkit-animation: cd-bounce-2-inverse 0.6s;
		-moz-animation: cd-bounce-2-inverse 0.6s;
		animation: cd-bounce-2-inverse 0.6s;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo .box.responsive{
		display: none;
	}
	.cd-timeline-block.left .cd-timeline-content .titulo .box.some{
		display: block;
	}
}
@-webkit-keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-moz-transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(20px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		-moz-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		-o-transform: translateX(-100px);
		transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-o-transform: translateX(20px);
		transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-moz-transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(-20px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-moz-transform: translateX(100px);
		-ms-transform: translateX(100px);
		-o-transform: translateX(100px);
		transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
.time-in-line .know{
	margin: 0 auto;
	border-color: #666;
}
.time-in-line .know a{
	color: #666;
}
.time-in-line .know:hover a{
	color: #FFF;
}
.time-in-line .know:hover a:after{
	background-color: #666;
}


/* POLÍTICA DE QUALIDADE */
.quality,
.quality .title,
.quality .le-content,
.quality .image{
	position: relative;
	width: 100%;
	float: left;
}
.quality{
	padding: 50px 0;
	z-index: 2;
}
.quality .title{
	padding-bottom: 10px;
}
.quality .title h2{
	color: #FFF;
	font-size: 47px;
}
.quality .le-content{
	padding: 0 0 30px 0;
}
.quality .le-content p{
	color: #FFF;
}
.quality .know{
	border-color: #FFF;
}
.quality .know a{
	color: #FFF;
}
.quality .know a:hover{
	color: #0077B6;
	border-color: #FFF;
}
.quality .image img{
	display: table;
	margin: 0 auto;
	width: 260px;
}

/* CERTIFICAÇÕES */
.certifications,
.certifications .title,
.certifications .the-certs{
	position: relative;
	width: 100%;
	float: left;
}
.certifications{
	background-color: #FFF;
	padding: 60px 0 130px 0;
}
.certifications .title h2{
	text-align: center;
	font-size: 50px;
	color: #666;
}
.certifications .the-certs{
	padding: 30px 0;
}
.certifications .the-certs .box{
	display: table;
	float: none;
	position: relative;
	margin: 0 auto;
	width: inherit;
}
.certifications .the-certs .box .cert:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.certifications .the-certs .box .cert{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	width: 17.5%;
	float: left;
	margin: 0 1.5% 30px;
	border: 1px solid #f2f2f2;
	border-radius: 8px;
	display: block;
	position: relative;
	overflow: hidden;
	height: 110px;
	text-align: center;
}
.certifications .the-certs .box .cert:hover{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	overflow: visible;
}
.certifications .the-certs .box .cert:first-child{
	margin: 0 1.5% 30px 0;
}
.certifications .the-certs .box .cert:last-child{
	margin: 0 0 30px 1.5%;	
}

.certifications .the-certs .box .cert img.fora{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	width: 100px;
	margin: 0 auto;
	float: none;
	display: inline-block;
	position: relative;
	z-index: 0;
	opacity: 0.75;
	-moz-opacity: 0.75;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: gray;
	image-rendering: auto;
	vertical-align: middle;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.certifications .the-certs .box .cert:hover img.fora{
	opacity: 1;
    -moz-opacity: 1;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
    image-rendering: auto;
}
.certifications .the-certs .box .cert .tool{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	position: absolute;
	top: 31px;
	z-index: 0;
	display: block;
	border: 1px solid #EEE;
	background-color: #FFF;
	padding: 18px 15px;
	border-radius: 6px;
    opacity: 0;
    left: -15px;
    width: 115%;
}
.certifications .the-certs .box .cert:hover .tool{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	position: absolute;
	top: -31px;
	z-index: 5;
	opacity: 1;
}
.certifications .the-certs .box .cert .tool img{
	width: 135px;
	margin: 0 0 15px 0;
}
.certifications .the-certs .box .cert .tool p{
	font-size: 12.5px;
	text-align: justify;
}

/* PARCERIAS E ASSOCIAÇÕES */
.partnerships,
.partnerships .title,
.partnerships .parceiros{
	position: relative;
	width: 100%;
	float: left;
}
.partnerships{
	background-color: #FFF;
	z-index: 2;
	padding: 40px 0 30px 0;
}
.partnerships .title h2{
	text-align: center;
	font-size: 50px;
	color: #666;	
}
.partnerships .parceiros{
	padding: 30px 0 20px;
}
.partnerships .parceiros .box{
	display: table;
	float: none;
	position: relative;
	margin: 0 auto;
	width: inherit;
}
.partnerships .parceiros .box .parceiro:before{
	content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.partnerships .parceiros .box .parceiro{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	width: 17.5%;
	float: left;
	margin: 0 1.5% 30px;
	border: 1px solid #f2f2f2;
	border-radius: 8px;
	display: block;
	position: relative;
	text-align: center;
	height: 100px;
}
.partnerships .parceiros .box .parceiro:hover{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.partnerships .parceiros .box .parceiro:first-child,
.partnerships .parceiros .box .parceiro:nth-child(6){
	margin: 0 1.5% 30px 0;
}
.partnerships .parceiros .box .parceiro:nth-child(5),
.partnerships .parceiros .box .parceiro:last-child{
	margin: 0 0 30px 1.5%;	
}
.partnerships .parceiros .box .parceiro .tool{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	position: absolute;
	top: 31px;
	z-index: 8;
	width: 115%;
	border: 1px solid #EEE;
	background-color: #FFF;
	padding: 18px;
	border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    right: -7%;
}
.partnerships .parceiros .box .parceiro .tool span{
	text-align: center;
	display: block;
}
.partnerships .parceiros .box .parceiro:hover .tool{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	position: absolute;
	top: -31px;
	z-index: 99;
	opacity: 1;
	visibility: visible;
}
.partnerships .parceiros .box .parceiro img{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	width: 115px;
	margin: 0 auto;
	float: none;
	position: relative;
	z-index: 0;
	opacity: 0.75;
	-moz-opacity: 0.75;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: gray;
	image-rendering: auto;
	vertical-align: middle;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
}
.partnerships .parceiros .box .parceiro:hover img{
	opacity: 1;
    -moz-opacity: 1;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
    image-rendering: auto;
}

.partnerships .know{
	margin: 0 auto;
	border-color: #666;	
}
.partnerships .know a{
	color: #666;
}
.partnerships .know a:hover{
	color: #FFF;
	border-color: #666;	
}
.partnerships .know a:hover:after{
	background-color: #666;
}




/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){}
@media (max-width: 1199px){
	.certifications .the-certs .box .cert .tool{
		width: 125%;
		left: -21px;	
	}
	.partnerships .parceiros .box .parceiro .tool{
		width: 125%;
		right: -21px;
	}
}
@media (max-width: 991px){
	.quality .image img{
		width: 85%;
		margin: 50px auto 0;
		float: right;		
	}
	.certifications .the-certs .box .cert .tool{
		width: 203px;
		left: -41px;	
	}
	.partnerships .parceiros .box .parceiro .tool{
		width: 203px;
		right: -41px;
	}
}
@media (max-width: 767px){
	.values .value{
		margin: 0 0 40px 0;
	}
	.quality .image img {
	    width: 220px;
	    margin: 50px auto 0;
	    float: none;
	}
	.certifications .the-certs .box{
		width: 506px;
	}
	.certifications .the-certs .box .cert{
	    width: 30%;
	    margin: 0 2% 30px;
	}
	.certifications .the-certs .box .cert:first-child{
	    margin: 0 2% 30px 0;		
	}
	.certifications .the-certs .box .cert:last-child{
	    margin: 0 0 30px 2%;	
	}
	.partnerships .parceiros .box{
		width: 506px;
	}
	.partnerships .parceiros .box .parceiro,
	.partnerships .parceiros .box .parceiro:nth-child(5){
	    width: 30%;
	    margin: 0 2% 30px;		
	}
	.partnerships .parceiros .box .parceiro:first-child,
	.partnerships .parceiros .box .parceiro:nth-child(4),
	.partnerships .parceiros .box .parceiro:nth-child(7),
	.partnerships .parceiros .box .parceiro:nth-child(10){
	    margin: 0 2% 30px 0;		
	}
	.partnerships .parceiros .box .parceiro:nth-child(3),
	.partnerships .parceiros .box .parceiro:nth-child(6),
	.partnerships .parceiros .box .parceiro:nth-child(9){
	    margin: 0 0 30px 2%;		
	}
}
@media (max-width: 545px){
	.certifications .the-certs .box,
	.partnerships .parceiros .box{
		width: 80%;
	}
	.certifications .the-certs .box .cert,
	.partnerships .parceiros .box .parceiro{
	    margin: 0px 10% 30px !important;
	    width: 80% !important;
	    float: none;
	    display: table;		
	}
	.certifications .the-certs .box .cert .tool,
	.partnerships .parceiros .box .parceiro .tool{
		right: inherit;
		left: inherit;
		width: 100%;
	}
}
@media (max-width: 550px){
	.cd-timeline-content{
		margin-left: 30px;
	}
	.cd-timeline-block .cd-timeline-content .titulo .box{
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
		width: 100%;
	}
	.cd-timeline-block .cd-timeline-content .titulo span{
		border: 1px solid #20b8dc;
		margin: 0 !important;
		width: 100%;
	}
	.cd-timeline-block .cd-timeline-content .titulo h3{
		width: 100%;
		border-radius: 0 !important;
		box-shadow: none !important;
	}
	.cd-timeline-block .cd-timeline-content .desc{
		width: 100% !important;
	}
}
@media (max-width: 481px){
	.certifications .title h2{
		font-size: 	40px;
	}
}
@media (max-width: 430px){
	.certifications .the-certs .box,
	.partnerships .parceiros .box{
		width: 100%;
	}
}