
/*SOLUÇÕES*/
.other-solutions .one-solution{
    height: 240px;
}
.other-solutions .one-solution .box{
    bottom: 0;
    height: auto !important;
    position: absolute !important;
}
.other-solutions .one-solution .overlay{
    background-color: rgba(255, 255, 255, 0.86) !important;
}
.other-solutions .one-solution:hover .overlay{
    background-color: rgba(255,255,255,0.9) !important;
}
.other-solutions .one-solution .box .title h4,
.other-solutions .one-solution .box .preview p{
    color: #666 !important;
}
.other-solutions .one-solution .box .title h4{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.other-solutions .one-solution:hover .box .title h4{
    font-size: 25px !important;
}
.other-solutions .one-solution .box .know{
    border-color: #0072BC !important;
}
.other-solutions .one-solution .box .know a{
    color: #0072BC !important;
}
.other-solutions .one-solution .box .know:hover a{
    color: #FFF !important;
}
.other-solutions .one-solution .box .know:hover a:after{
    background-color: #0072BC !important;
}