/* ARCHIVE SOLUÇÕES*/
.other-solutions{
    padding: 0 !important;
}
.other-solutions .title-solution{
    width: 100%;
    float: left;
    position: relative;
    padding: 30px 0 15px;
}
.other-solutions .title-solution.linha{
    border-top: 1px solid #E4E2E2;
    margin: 30px 0 15px;
}
.other-solutions .title-solution h3{
    margin: 0;
}
.other-solutions .one-solution{
    margin: 0 0 30px 0;
}
.other-solutions .desc{
    text-align: center;
    position: relative;
    width: 100%;
    float: left;
    padding: 0 0 50px 0;
}
.other-solutions .desc p{
    line-height: 27px;
}


/* SINGLE SOLUÇÕES */
.link-scrool{
    width: 100%;
    float: left;
    position: relative;
}
.desafios,
.desafios .linha,
.desafios .linha .desc,
.desafios .linha .challenges
.desafios .img-challeng,
.desafios .img-alone,
.desafios .img-challeng .item .texto{
    position: relative;
    width: 100%;
    float: left;
}
.desafios{
    color: #333;
    z-index: 20;
}
.desafios .linha{
    padding: 0 100px 0 0;
    border-right: 1px solid #959595;
}
.desafios .desc{
    padding: 0 0 15px 0;
}
.desafios .challenges h2{
    font-size: 40px;
}
.desafios .challenges ul{
    padding: 0 0 0 0px;
}
.desafios .challenges ul li{
    line-height: 27px;
    list-style: none;
}
.desafios .challenges ul li:before{
    content: '\E81D';
    font-family: "utilities";
    padding: 0 8px 0 0px;
}
.desafios .caixa{
    position: relative;
    width: 100%;
    float: left;
}
.desafios .know.oto,
.desafios .know.oto:hover{
    border-color: #F17F04;
}
.desafios .know.oto{
    background-color: #F17F04;
}
.desafios .know.oto a.solicitaContato{
    color: #FFF;
}
.desafios .know.oto:hover a.solicitaContato{
    color: #F17F04;
}
.desafios .know{
    margin: 0px 9px 35px 0;
    border-color: #0077B6;
    float: left;
}
.desafios .know:hover{
    border-color: #0077B6;
}
.desafios .know a#more-up{
    color: #0077B6;
}
.desafios .know:hover a#more-up{
    color: #FFF;
}
.desafios .know:hover a#more-up:after{
    background-color: #0077B6;
}
.desafios .img-challeng *{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.desafios .img-challeng{
    padding: 0 0 0 15%;
    height: 300px;
    overflow: hidden;
}
.desafios .img-alone{
    overflow: hidden;
    padding: 0 0 0 15%;
}
.desafios .img-challeng .item{
    height: 300px;
    right: -4px;
}
.desafios .img-challeng .item .over{
    position: absolute;
    width: 100%;
    height: 100%;
}
.desafios .img-challeng .item:hover .over{
    background-color: rgba(0, 0, 0, 0);
}
.desafios .img-challeng .item .texto{
    position: absolute;
    bottom: 40px;
    opacity: 0;
}
.desafios .img-challeng .item:hover .texto{
    bottom: 60px;
    opacity: 1;
}
.desafios .img-challeng .item .texto h3{
    font-size: 21px;
    color: #FFF;
    text-align: center;

}
.desafios .img-challeng.owl-carousel .owl-controls .owl-dots{
    bottom: 20px;right: -8%;
}
.desafios .img-alone img{
    width: 100%;
}

/* BENEFÍCIOS */
.beneficios{
    position: relative;
    width: 100%;
    float: left;
}
.beneficios{
    padding: 110px 0 0 0;
    background-color: #FFF;
    z-index: 20;
}
.beneficios .title{;
}
.beneficios .title h3{
    font-family: 'marine-regular';
    text-align: center;
    font-size: 40px;
}
.beneficios .title h3 span{
    text-transform: uppercase;
    font-family: 'marine-bold';
}
.beneficios .benefits{
    display: table;
    float: none;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.beneficios .benefits .one-benefit:first-child{
}
.beneficios .benefits .one-benefit:last-child{
}
.beneficios .benefits .one-benefit{
    margin: 0 15px 30px 0;
    display: inline-block;
    height: 153px;
}
.beneficios .benefits .one-benefit .hex {
    width: 78px;
    /* height: 53.9231px; */
    height: 44px;
    background-color: #f17f04;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: auto 126.0px;
    -moz-background-size: auto 126.0px;
    -o-background-size: auto 126.0px;
    background-size: auto 126.0px;
    position: relative;
    margin-top: 36.24px;
    margin-right: auto;
    margin-bottom: 36.24px;
    margin-left: auto;
    text-align: center;
    zoom: 1;
    border-right: 1px solid #f17f04;
    border-left: 1px solid #f17f04;
    float: none;
}
.beneficios .benefits .one-benefit .hex .inner {
    color: #f17f04;
    position: absolute;
    margin: 0 auto;
    float: none;
    width: 100%;
    z-index: 10;
}
.beneficios .benefits .one-benefit .hex .inner img {
    color: #FFF;
    margin: 0 auto;
    width: 40px;
    display: block;
    line-height: 19px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    /* IE 6-7 */
    filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);
    /* IE 8 */
    -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';
}
.beneficios .benefits .one-benefit .hex .corner-1 {
    z-index: 0;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}
.beneficios .benefits .one-benefit .hex .corner-1,
.beneficios .benefits .one-benefit .hex .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-left: 1px solid #f17f04;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    border-right: 1px solid #f17f04;
}
.beneficios .benefits .one-benefit .hex .corner-1:before {
    -webkit-transform: rotate(-60deg) translate(-103.9231px, 0px);
    -moz-transform: rotate(-60deg) translate(-103.9231px, 0px);
    -ms-transform: rotate(-60deg) translate(-103.9231px, 0px);
    -o-transform: rotate(-60deg) translate(-103.9231px, 0px);
    transform: rotate(-60deg) translate(-103.9231px, 0px);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}
.beneficios .benefits .one-benefit .hex .corner-1:before,
.beneficios .benefits .one-benefit .hex .corner-2:before {
    width: 207.6px;
    height: 207.6px;
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    background: inherit;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.beneficios .benefits .one-benefit .hex .corner-2 {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.beneficios .benefits .one-benefit .hex .corner-1,
.beneficios .benefits .one-benefit .hex .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-left: 1px solid #f17f04;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    border-right: 1px solid #f17f04;
}
.beneficios .benefits .one-benefit .hex .corner-2:before {
    -webkit-transform: rotate(60deg) translate(-51.96155px, -14px);
    -moz-transform: rotate(60deg) translate(-51.96155px, -14px);
    -ms-transform: rotate(60deg) translate(-51.96155px, -14px);
    -o-transform: rotate(60deg) translate(-51.96155px, -14px);
    transform: rotate(60deg) translate(-51.96155px, -14px);
    bottom: 0;
}
.beneficios .benefits .one-benefit .hex .corner-1:before,
.beneficios .benefits .one-benefit .hex .corner-2:before {
    width: 207.6px;
    height: 207.6px;
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    background: inherit;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.beneficios .benefits .one-benefit .legend{
    position: relative;
    float: left;
    width: 108px;
}
.beneficios .benefits .one-benefit .legend span{
    display: block;
    text-align: center;
    color: #333;
    font-size: 13px;
}
.beneficios .box{
    display: table;;
    position: relative;
    margin: 0 auto;
    float: none;
}
.beneficios .know.oto{
    position: relative;
    border-color: #F17F04;
    float: left;
    margin: 40px 10px 27px 0;;
}
.beneficios .know.oto:hover{
    border-color: #F17F04;
}
.beneficios .know.oto a{
    background-color: #F17F04;
    color: #FFF;
}
.beneficios .know.oto:hover a{
    color: #F17F04;
}
.beneficios .know.oto:hover a:after{
    background-color: #FFF;
}
.beneficios .know{
    position: relative;
    margin: 0 auto;
    margin: 40px auto 60px;
    border-color: #0077B6;
    float: left;
}
.beneficios .know:hover{
    border-color: #0077B6;
}
.beneficios .know a{
    float: none;
    display: table;
    background-color: #FFF;
    color: #0077B6;
}
.beneficios .know:hover a{
    color: #FFF;
}
.beneficios .know:hover a:after{
    background-color: #0077B6;
}

/* HIDE CONTENT */
.hideContent{
    float: left;
    width: 100%;
    display: none;
}
.hideContent.showme{
    display: block;
}

.statistics,
.statistics .box .title,
.statistics .box .breve-desc,
.statistics .one-stats,
.statistics .one-stats .txt,
.statistics .one-stats .num,
.statistics .one-stats .unidade{
    position: relative;
    width: 100%;
    float: left;
}
/* ESTATíSTICAS */
.statistics{
    padding: 30px 0 0 0;
    z-index: 8;
    background-color: #f1f1f1;
}
.statistics .box{
    position: relative;
    float: left;
    width: 50%;
    padding: 0 0 40px 0;
}
.statistics .box .breve-desc p{
    line-height: 26px;
}
.statistics .one-stats{
    border: 1px solid #7d7d7d;
    padding: 30px;
    height: 293px;
    margin: 0 0 30px 0;
}
.statistics .one-stats .txt{
    height: 80px;
}
.statistics .one-stats .txt .box{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: table;
    padding: 0;
}
.statistics .one-stats .txt h3{
    text-align: center;
    display: block;
    font-size: 20px;
    color: #0072bc;
    font-family: 'marine-bold';
}
.statistics .one-stats .txt span{
    text-align: center;
    display: block;
    font-size: 20px;
    color: #0072bc;
    font-family: 'marine-bold';
}
.statistics .one-stats .num span{
    display: block;
    text-align: center;
    font-size: 4.3em;
    color: #0072bc;
    line-height: 100%;
    font-family: 'marine-bold';
}
.statistics .one-stats .num.perc .box{
    margin: 0 auto;
    display: table;;
    float: none;
    width: initial;
    padding: 0;
}
.statistics .one-stats .num.perc .box span{
    float: left;
    display: block;
    text-align: initial;
}
.statistics .one-stats .unidade span{
    text-align: center;
    display: block;
    font-size: 20px;
    color: #0072bc;
    font-family: 'marine-bold';
}
.statistics .one-stats .num.perc + .unidade span{
    display: block;
    text-align: center;
    color: #0072bc;
    font-size: 18px;
    font-family: 'marine-bold';
    margin: 0;
    line-height: 24px;
}
.statistics .tapa{
    width: 100%;
    float: left;
    position: relative;
    background-color: #F1F1F1;
}
.statistics .boxer{
    float: none;
    position: relative;
    margin: 0 auto;
    display: table;
}
.statistics .tapa .boxer .know.oto,
.statistics .tapa .boxer .know.oto:hover{
    border-color: #F17F04;
}
.statistics .tapa .boxer .know.oto{
    background-color: #F17F04;
    margin: 20px 10px 20px auto;
}
.statistics .tapa .boxer .know.oto a.solicitaContato{
    color: #FFF;
    background-color: #F1820A;
}
.statistics .tapa .boxer .know.oto:hover a.solicitaContato{
    color: #F17F04;
}
.statistics .tapa .boxer .know.oto:hover a.solicitaContato:after{
    background-color: #FFF;
}
.statistics .tapa .boxer .know{
    border-color: #0077B6;
    float: left;
    margin: 20px auto 50px auto;
}
.statistics .tapa .boxer .know a{
    float: none;
    display: table;
    background-color: #FFF;
    color: #0077B6;
}
.statistics .tapa .boxer .know:hover a{
    color: #FFFFFF;
    border-color: #F17F04;
}
.statistics .tapa .boxer .know:hover a:after{
    background-color: #0077B6;
}
.clientes .bots{
    position: relative;
    float: none;
    margin: 0 auto;
    display: table;
    margin: 40px auto 0;
}
.clientes .bots .know{
    float: left;
    margin: 0;
}
.clientes .bots .know a{
    color: #FFF;
    background-color: #666;
}
.clientes .bots .know:hover a{
    color: #666;
}
.clientes .bots .know:hover a:after{
    background-color: #FFF;
}
.clientes .bots .know.cli{
    border-color: #0077B6;
    float: left;
    margin: 0 0 0 15px;
}
.clientes .bots .know.cli a{
    float: none;
    display: table;
    background-color: #FFF;
    color: #0077B6;
}
.clientes .bots .know.cli:hover a{
    color: #FFF;
}
.clientes .bots .know.cli:hover a:after{
    background-color: #0077B6;
}
/* BACKGROUND FIXED */
.bgline {
    background-color: #0077B6;
    position: relative;
    width: 100%;
    float: left;
    z-index: 1;
    overflow: hidden;
    margin: 60px 0 0 0;
}
.bgline .over {
    background-image: url('../img/backlines.png');
    position: fixed !important;
    width: 100%;
    background-size: cover;
    top: 0;
    height: 100% !important;
}
.clientes{
    padding: 60px 0 30px;
}
.case-of,
.case-of .o-case,
.case-of .o-case .about-case,
.case-of .o-case .about-case .titulo,
.case-of .o-case .about-case .desc,
.case-of .o-case .about-case .know,
.case-of .o-case .play{
    position: relative;
    width: 100%;
    float: left;
}
.case-of{
    z-index: 19;
    margin: 0 0 40px 0;
}
.case-of .o-case{
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.case-of .o-case .overlayer{
    position: absolute;
    width: 100%;
    float: left;
    height: 100%;
    background: -webkit-linear-gradient(0deg,#00375b 22%,rgb(0, 55, 91) 48%,rgba(0, 55, 91, 0.2) 79%);
    background: -moz-linear-gradient(0deg,#00375b 22%,rgb(0, 55, 91) 48%,rgba(0, 55, 91, 0.2) 79%);
    background: -webkit-linear-gradient(0deg,#00375b 22%,rgb(0, 55, 91) 48%,rgba(0, 55, 91, 0.2) 79%);
    background: -o-linear-gradient(0deg,#00375b 22%,rgb(0, 55, 91) 48%,rgba(0, 55, 91, 0.2) 79%);
    background: -ms-linear-gradient(0deg,#00375b 22%,rgb(0, 55, 91) 48%,rgba(0, 55, 91, 0.2) 79%);
    background: linear-gradient(95deg,#00375b 22%,rgb(0, 55, 91) 48%,rgba(0, 55, 91, 0.2) 79%);
}
.case-of .o-case .about-case{
    padding: 100px 0;
}
.case-of .o-case .about-case .titulo h2{
    color: #FFF;
    font-size: 45px;
    margin: 0;
}
.case-of .o-case .about-case .desc{
    padding: 5px 0 0 0;
}
.case-of .o-case .about-case .desc p{
    color: #FFF;
    line-height: 27px;
}
.case-of .o-case .about-case .know{
    margin: 15px 0 0 0;
    border-color: #F1820A;
}
.case-of .o-case .about-case .know.mores{
    margin: 15px 0 0 30px;
}
.case-of .o-case .about-case .know a{
    float: left;
    background-color: #F1820A;
    color: #FFF;
}
.case-of .o-case .about-case .know:hover a{
    color: #F1820A;
}
.case-of .o-case .about-case .know:hover a:after{
    background-color: #FFF;
}
.case-of .more{
    background-color: #FFF;
}
.case-of .more .know{
    margin: 35px auto 70px;
    border-color: #F1820A;
}
.case-of .more .know a{
    display: table;
    background-color: #F1820A;
    color: #FFF;
}
.case-of .more .know a:hover{
    color: #F1820A;
}
.case-of .more .know a:hover:after{
    background-color: #FFF;
}
.case-of .o-case .play{
}
.case-of .o-case .play a{
    color:  #FFF;
    font-size: 150px;
    text-align: center;
    display: table;
    margin: 25% auto 0;
    line-height: 100%;
    opacity: 1;
}
.case-of .o-case .play a:hover{
    opacity: .6;
}

/* MAIS SOBRE O PRODUTO */
.more-about,
.more-about .titulo,
.more-about .desc
.more-about .image{
    position: relative;
    width: 100%;
    float: left;
}
.more-about{
    z-index: 19;
    text-align: center;
}
.more-about .titulo{
    padding: 80px 0 0 ;
}
.more-about .titulo h2{
    color: #FFF;
    text-transform: uppercase;
    font-size: 3vw;;
}
.more-about .desc p{
    color: #FFF;
    line-height: 27px;
}
.more-about .know {
    margin: 30px auto 85px;
    border-color: #FFF;
}
.more-about .know a{
    color: #FFF;
}
.more-about .know a:hover{
    color: #0077B6;
    border-color: #FFF;
}
.more-about .image{
    padding: 62px 0 75px 0;
}
.more-about .image img{
    margin: 0 auto;
    display: table;
}

/* MÓDULOS DO SISTEMA */
.modulos,
.modulos .title,
.modulos .box .um-modulo .imagi,
.modulos .box .um-modulo .nome{
    position: relative;
    width: 100%;
    float: left;
}
.modulos{
    padding: 60px 0 40px;
    z-index: 20;
    background-color: #FFF;
}
.modulos .info{
    width: 80%;
    margin: auto;
    -webkit-box-shadow: 4px 4px 21px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    4px 4px 21px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         4px 4px 21px 0px rgba(50, 50, 50, 0.5);
    border-radius:         10px;
    padding:         40px;
    background: #F1F1F1;
    text-align: left;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
    position: absolute;
    z-index: 3;
    left: 12%;
    visibility: hidden;
    top: 0;
}
.itemmod{
    cursor: pointer;
}
.modulos .info .borda{
    border-right: #DADADA solid;
    border-right-width: 2px;
    padding-right: 40px;
}
.modulos .info .borda2{
    padding-left: 40px;
}
.info.showing{
    opacity: 1 !important;
    visibility: visible;
}
.modulos .box-abs{
    width: 100%;
    float: left;
    position: relative;
    margin: 25px 0 0 0;
    text-align: center;
}

.modulos .box-abs .um-modulo{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid #7d7d7d;
    width: 16%;
    float: left;
    overflow: hidden;
    margin: 0 20px 20px 20px;
    border-radius: 15px;
    padding: 25px;
    height: 208px;
    position: relative;
    z-index: 2;
    top: 0;
    display: inline-block;
}
.modulos .box-abs .um-modulo:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #DDD;
}
.modulos .box-abs .um-modulo .imagi{
    display: list-item;
    list-style: none;
}
.modulos .box-abs .um-modulo .imagi img{
    width: 50px;
    float: none;
    margin: 0 auto;
    display: block;
}
.modulos .box-abs .um-modulo .nome {
    margin: 25px 0 0 0; 0 0 0;
}
.modulos .box-abs .um-modulo .nome span{
    color: #333;
    text-align: center;
    display: block;
    text-transform: uppercase;
}
.modulos .know{
    margin: 25px auto 0;
    border-color: #666;
}
.modulos .know a{
    color: #666;
}
.modulos .know a:hover{
    color: #FFF;
}
.modulos .know a:hover:after{
    background-color: #666;
}

/* PRINCIPAIS CARACTERÍSTICAS */
.principais,
.principais .title,
.principais .caracteristicas,
.principais .know,
.principais .image{
    position: relative;
    width: 100%;
    float: left;
}.image.mm{
    margin-top:80px;
}
.principais{
    z-index: 20;
    background-color: #f1f1f1;
    padding: 45px 0;
}
.principais .caracteristicas ul {
    padding: 0 0 0 0px;
    list-style: none;

}
.principais .caracteristicas ul li {
    margin: 7px 0;
    font-size: 15px;
    width: 100%;
}
.principais .caracteristicas ul li:before {
    content: '\E81D';
    color: #666;
    font-size: 15px;
    position: relative;
    font-family: 'utilities';
    left: 0;
    padding: 0 10px 0 0;
    float: left;
    height: 25px;
}
.principais .know {
    margin: 30px 0 0 0;
    border-color: #F17F04;
}
.principais .know a{
    background-color: #F17F04;
    color: #FFF;
    border-color: #F17F04;
}
.principais .know a:hover{
    color: #F17F04;
    border-color: #F17F04;
}
.principais .know a:hover:after{
    background-color: #FFF;
}
.principais .image img{
    width: 70%;
    float: none;
    margin: 0 auto;
    display: table;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.6;
}

.know.abs-btn{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    width: 100%;
    float: none;
    margin: 0 auto;
    border-color: #F1820A;
}
.hideContent.hider + .know.abs-btn{
    float: none;
    margin: 0 auto;
}
.hideContent.showme + .know.abs-btn{
    margin-top: 70px;
    display: none;
}
.know.abs-btn a{
    float: none;
    margin: 0 auto;
    background-color: #F1820A;
    color: #FFF;
}
.know.abs-btn:hover a{
    color: #F1820A;
}
.know.abs-btn:hover a:after{
    background-color: #FFF;
}
#closss{
    position: absolute;
    top: 0;
    right: 0;
    background: #337AB7;
    color: #FFF;
    padding: 6px;
    border-radius: 0 11px;
}
#closss i::before{
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#closss:hover i::before{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.footer{
    z-index: 20;
}
.active2 + .modal.orcamento{
    position: fixed;
}

/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){
    .beneficios .benefits .one-benefit:first-child{
        margin: 0 8px 0 0;
    }
    .beneficios .benefits .one-benefit:last-child{
        margin: 0 0 0 8px;
    }
    .beneficios .benefits .one-benefit{
        margin: 0 8px;
        width: 126px;
    }
    .case-of .o-case{
        background-size: 75%;        
    }
}
@media (max-width: 1199px){
    .beneficios .benefits .one-benefit:first-child{}
    .beneficios .benefits .one-benefit:last-child{}
    .beneficios .benefits .one-benefit{}
    .statistics .one-stats{
        padding: 25px 10px;
        height: 313px;
    }
    .statistics .one-stats .txt{
        height: 100px;
    }
    .statistics .one-stats .num.perc .box span{
        font-size: 80px;
    }
    .case-of .o-case .play a{
        margin: 43% auto 0;
    }    
    .case-of .o-case{
        background-size: 97%;        
    }
}
@media (max-width: 991px){
    .desafios .img-challeng{
        padding: 25% 0 0 5%;

    }
    .case-of .o-case .play a {
        margin: 62% auto 0;
    }
    .modulos .box-abs .um-modulo{
        width: 29%;
    }
    .more-about .titulo h2{
        font-size: 35px;
    }  
    .case-of .o-case{
        background-size: cover;        
    }
}
@media (max-width: 767px){
    .statistics .box{
        width: 100%;
    }
    .desafios .linha{
        padding: 0;
        border: none;
    }
    .desafios .linha .desc{
        padding: 0 0 30px 0;
    }
    .desafios .img-challeng{
        padding: 65px 0px 0 0;
    }
    .desafios .img-challeng img{
        width: 80%;
        margin: 0 auto;
        float: none;
        display: table;
    }
    .case-of .o-case .overlayer {
        background: -webkit-linear-gradient(275deg,rgba(0, 55, 91, 0.67) 22%,rgba(0, 55, 91, 0.67)48%,rgba(0, 55, 91, 0.67) 79%);
        background: -moz-linear-gradient(275deg,rgba(0, 55, 91, 0.67) 22%,rgba(0, 55, 91, 0.67)48%,rgba(0, 55, 91, 0.67) 79%);
        background: -webkit-linear-gradient(275deg,rgba(0, 55, 91, 0.67) 22%,rgba(0, 55, 91, 0.67)48%,rgba(0, 55, 91, 0.67) 79%);
        background: -o-linear-gradient(275deg,rgba(0, 55, 91, 0.67) 22%,rgba(0, 55, 91, 0.67)48%,rgba(0, 55, 91, 0.67) 79%);
    }
    .case-of .o-case .play a {
        margin: 0% auto 40px;
    }
    .more-about .titulo{
        padding: 60px 0 0 0px;
    }
    .more-about .titulo h2{
        text-align: center;
    }
    .more-about .desc p{
        text-align: center;
    }
    .more-about .desc p br{
        display: none;
    }
    .case-of .o-case .about-case{
        padding: 100px 0 30px;
    }
    .more-about .know a{
        float: none;
        margin: 0 auto;
    }
    .modulos .title h2{
        text-align: center;
    }
    .hideContent .statistics .box{
        width: 100%;
    }
    .modulos .info .borda{
        border-right: none;
    }
    .active2 + .modal.orcamento{
        position: fixed;
    }
    .active2 + .modal.orcamento .input.responsive{
        width: calc(100% - 2em);
        max-width: initial;
    }
}
@media (max-width: 650px){
    .modulos .box-abs{
    width: 100%;
    float: left;
    position: relative;
    margin: 25px 0 0 0;
    text-align: center;}
    .modulos .box-abs .um-modulo{
        float: none;
        display: inline-block;
        text-align: center;
        width: auto;
        padding: 25px 0;
        top: 0;
    }
    .modulos .box-abs .um-modulo .nome{
        width: 210px;
    }
}
@media (max-width: 481px){
    .desafios .img-challeng img{
        width: 100%;
    }
    .modulos .title h2{
        font-size: 35px;
    }
    .principais .title h2{
        font-size: 35px;
    }
    .principais .image{
        margin: 40px 0 0 0;
    }
    .beneficios .know,
    .beneficios .know.oto,
    .statistics .tapa .boxer .know,
    .statistics .tapa .boxer .know.oto{
        display: table;
        float: none;
        margin: 0 auto 30px;
    }
    .more-about .titulo{
    padding: 60px 0 30px;

    }
    .more-about .know{
        float: none;
        display: table;
        margin: 0px auto 50px;
    }
}
@media (max-width: 377px){
    .case-of .o-case .about-case{
        padding: 50px 0 30px;
    }
    .case-of .o-case .about-case .titulo h2{
        font-size: 35px;
    }
    .case-of .o-case .about-case .know,
    .case-of .o-case .about-case .know.mores{
        display: table;
        float: left;
        margin: 15px 15px 0 0px;
    }
}
