@font-face {
  font-family: 'utilities';
  src: url('../font/utilities.eot?7939633');
  src: url('../font/utilities.eot?7939633#iefix') format('embedded-opentype'),
       url('../font/utilities.woff?7939633') format('woff'),
       url('../font/utilities.ttf?7939633') format('truetype'),
       url('../font/utilities.svg?7939633#utilities') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="util-"]:before, [class*=" util-"]:before {
  font-family: "utilities";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.util-print:before { content: '\e800'; } /* '' */
.util-file-pdf:before { content: '\e801'; } /* '' */
.util-star:before { content: '\e802'; } /* '' */
.util-star-empty:before { content: '\e803'; } /* '' */
.util-star-half:before { content: '\e804'; } /* '' */
.util-star-half-alt:before { content: '\e805'; } /* '' */
.util-heart-empty:before { content: '\e806'; } /* '' */
.util-heart:before { content: '\e807'; } /* '' */
.util-trash-empty:before { content: '\e808'; } /* '' */
.util-doc-text:before { content: '\e809'; } /* '' */
.util-file-word:before { content: '\e80a'; } /* '' */
.util-file-excel:before { content: '\e80b'; } /* '' */
.util-file-powerpoint:before { content: '\e80c'; } /* '' */
.util-file-image:before { content: '\e80d'; } /* '' */
.util-arrows-cw:before { content: '\e80e'; } /* '' */
.util-fontsize:before { content: '\e80f'; } /* '' */
.util-lock-open-alt:before { content: '\e810'; } /* '' */
.util-lock-open:before { content: '\e811'; } /* '' */
.util-cc:before { content: '\e812'; } /* '' */
.util-cc-nc:before { content: '\e813'; } /* '' */
.util-cc-nc-eu:before { content: '\e814'; } /* '' */
.util-cc-nc-jp:before { content: '\e815'; } /* '' */
.util-win8:before { content: '\e816'; } /* '' */
.util-block:before { content: '\e817'; } /* '' */
.util-resize-full:before { content: '\e818'; } /* '' */
.util-folder:before { content: '\e819'; } /* '' */
.util-cancel:before { content: '\e81a'; } /* '' */
.util-hexagonal5:before { content: '\e81b'; } /* '' */
.util-geometry82:before { content: '\e81c'; } /* '' */
.util-geometry81:before { content: '\e81d'; } /* '' */
.util-download-alt:before { content: '\e81e'; } /* '' */
.util-download:before { content: '\e81f'; } /* '' */
.util-link:before { content: '\e820'; } /* '' */
.util-link-1:before { content: '\e821'; } /* '' */
.util-logout:before { content: '\e822'; } /* '' */
.util-logout-1:before { content: '\e823'; } /* '' */
.util-download-outline:before { content: '\e824'; } /* '' */
.util-link-outline:before { content: '\e825'; } /* '' */
.util-logout-2:before { content: '\e826'; } /* '' */
.util-coffee:before { content: '\e827'; } /* '' */
.util-wordpress:before { content: '\e828'; } /* '' */
.util-download-1:before { content: '\e829'; } /* '' */
.util-gauge:before { content: '\e82a'; } /* '' */
.util-link-2:before { content: '\e82b'; } /* '' */
.util-lock:before { content: '\e82c'; } /* '' */



/*FONT VISUAL*/

 [class^="ico-"]:before, [class*=" ico-"]:before {
  font-family: "visual";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ico-onibus:before { content: '\e800'; } /* '' */
.ico-relogio:before { content: '\e801'; } /* '' */
.ico-publico:before { content: '\e802'; } /* '' */
.ico-financeiro:before { content: '\e803'; } /* '' */
.ico-contatos-geral:before { content: '\e804'; } /* '' */
.ico-help-desk:before { content: '\e805'; } /* '' */
.ico-localizacao:before { content: '\e806'; } /* '' */
.ico-esporte:before { content: '\e807'; } /* '' */
.ico-industria-comercio:before { content: '\e808'; } /* '' */
.ico-instituicoes-financeiras:before { content: '\e809'; } /* '' */
.ico-legislativo:before { content: '\e80a'; } /* '' */
.ico-saude:before { content: '\e80b'; } /* '' */
.ico-setor-publico:before { content: '\e80c'; } /* '' */
.ico-right-circled:before { content: '\e80d'; } /* '' */
.ico-contato-fax:before { content: '\e80e'; } /* '' */

/*FONTELLO*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-location:before { content: '\e800'; } /* '' */
.icon-laptop:before { content: '\e801'; } /* '' */
.icon-play-4:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-search-1:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-sitemap:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-gplus:before { content: '\e809'; } /* '' */
.icon-youtube-play:before { content: '\e80a'; } /* '' */
.icon-dot:before { content: '\e80b'; } /* '' */
.icon-angle-right:before { content: '\e80c'; } /* '' */
.icon-smile:before { content: '\e80d'; } /* '' */
.icon-angle-left:before { content: '\e80e'; } /* '' */
.icon-star-empty:before { content: '\e80f'; } /* '' */
.icon-rocket-1:before { content: '\e810'; } /* '' */
.icon-chart-pie-3:before { content: '\e811'; } /* '' */
.icon-hospital:before { content: '\e812'; } /* '' */
.icon-angle-down:before { content: '\e813'; } /* '' */
.icon-cancel-1:before { content: '\e814'; } /* '' */
.icon-cancel-5:before { content: '\e815'; } /* '' */
.icon-user:before { content: '\e816'; } /* '' */
.icon-mail:before { content: '\e817'; } /* '' */
.icon-paper-plane-empty:before { content: '\e818'; } /* '' */
.icon-assoweb:before { content: '\e819'; } /* '' */
.icon-search-detail:before { content: '\e81a'; } /* '' */
.icon-key-1:before { content: '\e81b'; } /* '' */
.icon-clock:before { content: '\e81c'; } /* '' */
.icon-home:before { content: '\e81d'; } /* '' */
.icon-circle:before { content: '\e81e'; } /* '' */
.icon-street-view:before { content: '\e81f'; } /* '' */
.icon-comment-4:before { content: '\e820'; } /* '' */
.icon-doc-text:before { content: '\e821'; } /* '' */
.icon-pencil:before { content: '\e822'; } /* '' */
.icon-ok-6:before { content: '\e823'; } /* '' */
.icon-book-open-1:before { content: '\e824'; } /* '' */